@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}

<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <!-- start commission bar -->
        <article class="commission-bar">
            <div class="centering">
                <div class="management">
                    <div class="merge">
                        <table>
                            <tr>
                                <td><img alt="" src="@LinkList.GetImage(Link.Relatiebeheer)"></td>
                            </tr>
                            <tr>
                                <td><h4>@LinkList.GetLinkName(Link.Relatiebeheer)</h4></td>
                            </tr>
                        </table>
                        <!--Header!-->
                        <div class="para">

                            <!--Header content-->
                            <p>@LinkList.GetTitle(Link.Relatiebeheer)@LinkList.GetDescription(Link.Relatiebeheer)</p>

                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- end commission bar -->
        <!-- start advantage bar -->
	    <article class="advantage-bar">
		    <div class="centering">
			    <h3>Wat heeft de module @LinkList.GetLinkName(Link.Relatiebeheer) te bieden?</h3>
			    <!--Start Item Content on the right-->
			    <div class="merge">
				    <div class="image"><img src="/images/foto_img.jpg" alt="" /></div>
				    <div class="para">
					    <h4>Relatiebeheer</h4>
					    <p>Relatiebeheer</p>
				    </div>
			    </div>
			    <!--End Item Content on the right-->
			    <!--Start Item Content on the Left-->
			    <div class="merge second">
				    <div class="image"><img src="/images/foto_img1.jpg" alt="" /></div>
				    <div class="para">
					    <h4>Relatiebeheer</h4>
					    <p>Relatiebeheer</p>

				    </div>
			    </div>
			    <!--End Item Content on the Left-->
		    </div>
	    </article>

        <!-- end advantage bar -->
        <!-- start connecting bar -->
        <article class="connecting-bar" style="margin:auto;">
            <article class="advantage-bar" style="margin: auto;">
                <div class="centering">
                    <!--End Item Content on the right-->
                    <!--Start Item Content on the Left-->
                    <div class="merge fourth" style="margin: initial;">
                        <div class="para facts">
                            <div class="module" style="width: auto; margin-top: 35px;">
                                <h4>Factsheet</h4>
                                <p>
                                    Hieronder zijn alle mogelijkheden binnen de verschillende online modules weergegeven.Het kan voorkomen dat het beschreven functionaliteiten aanvullende modules nodig te hebben.Mocht u vragen hebben, neem dan contact met ons op.
                                </p>
                                <div class="para2">
                                    <h2>@LinkList.GetLinkName(Link.Relatiebeheer)</h2>
                                    <ul>
                                        <li>
                                            Leads
                                        </li>
                                        <li>
                                        </li>
                                        <li>
                                            Klanten
                                        </li>
                                        <li>
                                            Leveranciers
                                        </li>
                                        <li>
                                            Frabikanten
                                        </li>
                                        <li>
                                            Overige
                                        </li>
                                        <li>
                                            Extranet gebruikers
                                        </li>
                                        <li>
                                            Personen
                                        </li>
                                        <li>
                                            Correspondentie archief
                                        </li>
                                        <li>
                                            Account managers
                                        </li>
                                        <li>
                                            Exporteren
                                        </li>
                                        <li>
                                            Tijdlijn weergeven
                                        </li>
                                        <li>
                                            Nieuwsbriefaanmeldingen
                                        </li>
                                        <li>
                                            Document (sjabloon) schema
                                        </li>
                                        <li>
                                            Factuurkortingen vastleggen
                                        </li>
                                        <li>
                                            Bankrekeningen vastleggen bij bedrijven en personen
                                        </li>
                                        <li>
                                            Accountmanagers vastleggen bij relaties
                                        </li>
                                        <li>
                                            Vestigingen vastleggen bij bedrijven
                                        </li>
                                        <li>
                                            Certificaten koppelen aan bedrijven
                                        </li>
                                        <li>
                                            Abonnementen koppelen aan bedrijven
                                        </li>
                                        <li>
                                            Prijsafspraken vastleggen bij bedrijven
                                        </li>
                                        <li>
                                            Extranet gegevens vastleggen bij bedrijven
                                        </li>
                                        <li>
                                            Status toekennen aan relaties
                                        </li>
                                        <li>
                                            Online bestanden opslaan bij relaties
                                        </li>
                                        <li>
                                            Lokaal bestanden opslaan bij relaties
                                        </li>
                                        <li>
                                            Personen koppelen aan bedrijven
                                        </li>
                                        <li>
                                            Personen inzien bij bedrijven
                                        </li>
                                        <li>
                                            Projecten inzien bij bedrijven en personen
                                        </li>
                                        <li>
                                            Verkoopfacturen inzien bij bedrijven en personen
                                        </li>
                                        <li>
                                            Orders inzien bij bedrijven en personen
                                        </li>
                                        <li>
                                            Inkoopfacturen inzien bij bedrijven en personen
                                        </li>
                                        <li>
                                            Banktransacties inzien bij bedrijven en personen
                                        </li>
                                        <li>
                                            Tickets inzien en aanmaken bij bedrijven en personen
                                        </li>
                                        <li>
                                            Correspondentiebrieven en documenten opstellen op basis van sjablonen
                                        </li>
                                        <li>
                                            Contactgegevens exporteren naar Microsoft Outlook
                                        </li>
                                        <li>
                                            Mailing versturen naar diverse relaties in een bepaalde groep/ segment
                                        </li>
                                        <li>
                                            Notities opmaken, beheren en toewijzen
                                        </li>
                                        <li>
                                            Overzichten exporten naar Microsoft Excel
                                        </li>
                                        <li>
                                            Contacten importen via Microsoft Excel
                                        </li>
                                        <li>
                                            Correspondentiearchief bijhouden
                                        </li>
                                        <li>Verjaardag herinneringsfunctie</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Item Content on the Left-->
                </div>
            </article>
            @Content.ContactFormDemo()
        </article>
        <!-- end connecting bar -->
    </section>
    <!-- end center part -->
</section>
<!-- end content -->
