@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}

<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <!-- start commission bar -->
        <article class="commission-bar">
            <div class="centering">
                <div class="management">
                    <div class="merge">
                        <table>
                            <tr>
                                <td><img alt="" src="@LinkList.GetImage(Link.Voorraadbeheer)"></td>
                            </tr>
                            <tr>
                                <td><h4>@LinkList.GetLinkName(Link.Voorraadbeheer)</h4></td>
                            </tr>
                        </table>
                        <!--Header!-->
                        <div class="para">

                            <!--Header content-->
                            <p>@LinkList.GetTitle(Link.Voorraadbeheer)@LinkList.GetDescription(Link.Voorraadbeheer)</p>

                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- end commission bar -->
        <!-- start advantage bar -->
        <article class="advantage-bar">
            <div class="centering">
                <h3>Wat heeft de module @LinkList.GetLinkName(Link.Voorraadbeheer) te bieden?</h3>
                <!--Start Item Content on the right-->
                <div class="merge">
                    <div class="image"><img src="/images/foto_img.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Voorraadbeheer</h4>
                        <p>Voorraadbeheer</p>
                    </div>
                </div>
                <!--End Item Content on the right-->
                <!--Start Item Content on the Left-->
                <div class="merge second">
                    <div class="image"><img src="/images/foto_img1.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Voorraadbeheer</h4>
                        <p>Voorraadbeheer</p>

                    </div>
                </div>
                <!--End Item Content on the Left-->
            </div>
        </article>
        <!-- end advantage bar -->
        <!-- start connecting bar -->
        <article class="connecting-bar" style="margin:auto;">
            <article class="advantage-bar" style="margin:auto;">
                <div class="centering">
                    <!--End Item Content on the right-->
                    <!--Start Item Content on the Left-->
                    <div class="merge fourth" style="margin:initial;">
                        <div class="para facts">
                            <div class="module" style="width: auto; margin-top:35px;">
                                <h4>Factsheet</h4>
                                <p>
                                    Hieronder zijn alle mogelijkheden binnen de verschillende online modules weergegeven.Het kan voorkomen dat het beschreven functionaliteiten aanvullende modules nodig te hebben.Mocht u vragen hebben, neem dan contact met ons op.
                                </p>
                                <div class="para2">
                                    <h2>@LinkList.GetLinkName(Link.Voorraadbeheer)</h2>
                                    <ul>
                                        <li>
                                            Producten categoriseren in hoofd- en subgroepen
                                        </li>
                                        <li>
                                            Productgroepen koppelen aan grootboekrekeningen en werkcodes
                                        </li>
                                        <li>
                                            Productdetails en –informatie vastleggen
                                        </li>
                                        <li>
                                            Beschrijving
                                        </li>
                                        <li>
                                            Barcode
                                        </li>
                                        <li>
                                            Productcode
                                        </li>
                                        <li>
                                            Leverancierscode
                                        </li>
                                        <li>
                                            Eenheid
                                        </li>
                                        <li>
                                            Afmetingen
                                        </li>
                                        <li>
                                            Materialen
                                        </li>
                                        <li>
                                            Kleur
                                        </li>
                                        <li>
                                            Gewicht
                                        </li>
                                        <li>
                                            Verkoopprijs inclusief of exclusief BTW (eventueel variabel)
                                        </li>
                                        <li>
                                            Inkoopprijs (eventueel variabel)
                                        </li>
                                        <li>
                                            Basis verkoopprijs (eventueel variabel)
                                        </li>
                                        <li>
                                            Basis inkoopprijs (eventueel variabel)
                                        </li>
                                        <li>
                                            Verpakkingseenheid
                                        </li>
                                        <li>
                                            Productafbeelding opslaan
                                        </li>
                                        <li>
                                            Opmerkingen aanmaken
                                        </li>
                                        <li>
                                            Producten onderverdelen in subproducten (productonderdelen)
                                        </li>
                                        <li>
                                            Gerelateerde producten vastleggen
                                        </li>
                                        <li>
                                            Producten dupliceren
                                        </li>
                                        <li>
                                            Productlabels en barcodes aanmaken
                                        </li>
                                        <li>
                                            Gekoppelde orders inzien bij producten
                                        </li>
                                        <li>
                                            Overzichten exporten naar Microsoft Excel
                                        </li>
                                        <li>
                                            Producten importen via Microsoft Excel
                                        </li>
                                        <li>
                                            Producten weergeven op de webshop
                                        </li>
                                        <li>
                                            Multi talig CMS teksten voor webshop vastleggen
                                        </li>
                                        <li>
                                            Kenmerken (tags) vastleggen
                                        </li>
                                        <li>
                                            Actuele voorraad van producten inzien
                                        </li>
                                        <li>
                                            Laatste inkoopprijs (LIP) per product
                                        </li>
                                        <li>
                                            Gemiddelde inkoopprijs (GIP) van actuele voorraad
                                        </li>
                                        <li>
                                            Voorraadlocaties vastleggen
                                        </li>
                                        <li>
                                            Productielocaties vastleggen
                                        </li>
                                        <li>
                                            Actuele voorraad inzien
                                        </li>
                                        <li>
                                            Actuele gereserveerde voorraad inzien
                                        </li>
                                        <li>
                                            Actuele voorraad in backorder
                                        </li>
                                        <li>
                                            Actuele producten gereserveerd voor bestelling
                                        </li>
                                        <li>
                                            Actuele vrije voorraad
                                        </li>
                                        <li>
                                            Leveringsaanvragen via Extranet maken
                                        </li>
                                        <li>
                                            Openstaande voorraad verplaatsingen inzien
                                        </li>
                                        <li>
                                            Voorraad inboeken (op locaties)
                                        </li>
                                        <li>
                                            Voorraad muteren
                                        </li>
                                        <li>Voorraad historie raadplegen</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Item Content on the Left-->
                </div>
            </article>
            @Content.ContactFormDemo()
        </article>
        <!-- end connecting bar -->
    </section>
    <!-- end center part -->
</section>
<!-- end content -->
