@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}
<!-- start slider -->
<section id="slider-part">

    <!-- start slider bar -->
    <article class="slider-bar">
        <div class="flexslider">
             
            <ul class="slides">
                <li><img src="images/slider_img.jpg" alt=""/></li>
                <li><img src="images/slider_img1.jpg" alt="" /></li>
                <li><img src="images/slider_img2.jpg" alt="" /></li>
                <li><img src="images/slider1.jpg" alt="" /></li>
                <li><img src="images/slider4.jpg" alt="" /></li>

            </ul>

            <aside class="text">
                <div class="centering">
                    <h2>Online Business Software voor ICT dienstverleners</h2>
                    <p>Hybrid SaaS Ticketsysteem, tijdregistratie en facturatie Eén overzichtelijk dashboard.</p>
                    <a href="@LinkList.GetLink(Link.MenuPakketten)"><span>alle informatie over onze software vind je hier</span></a>
                </div>
            </aside>
            <a class="downarrow" data-speed="2000" data-easing="easeOutQuint" href="#over"><img src="images/downarrow_img.png" alt="" /></a>
        </div>
    </article>
    <!-- end slider bar -->

</section>
<!-- end slider -->
<!-- start content -->
<section id="content-part">

    <!-- start centerpart -->
    <section id="center-part">

        <!-- start about bar -->
        <article class="about-bar">
            <div class="centering">

                <h3>Eén, complete, Nederlandse software oplossing voor alle bedrijfsprocessen binnen de ICT-dienstverlening: dat is Hybrid SaaS.</h3>

                <aside class="left">
                    <p>Met Hybrid SaaS heb je alles wat je nodig hebt om alle bedrijfsprocessen slim te organiseren. Van relatiebeheer, ticketsysteem tot het beheer van de voorraad en de facturatie. Je kiest zelf het pakket dat aansluit op jouw wensen, en voegt eventueel naar wens specifieke modules toe. </p>
                </aside>

                <aside class="right">
                    <p>Wij geloven dat onze klanten het systeem waarderen en werken daarom met een contract dat maandelijks opzegbaar is. Vanuit één centraal dashboard houd je makkelijk het overzicht.</p>
                </aside>

                <a href="@LinkList.GetLink(Link.MenuOver)" class="why">Waarom Hybrid SaaS? </a>

            </div>
        </article>
        <!-- end about bar -->
        <!-- start choose bar -->
        <article class="choose-bar">
            <div class="centering">
                <center><iframe width="640" height="360" src="https://www.youtube.com/embed/tu0xv-PvKXU?loop=1&autoplay=1&rel=0&showinfo=0&controls=0&autohide=1" frameborder="0" allowfullscreen></iframe></center>
            </div>  
            <div class="centering">
                <div class="text">

                    <h2>Waarom kiezen voor Hybrid SaaS?</h2>
                    <p>Met Hybrid SaaS heb je alles wat je nodig hebt om alle bedrijfsprocessen slim te organiseren. Van relatiebeheer, ticketsysteem tot het beheer van de voorraad en de facturatie. Je kiest zelf het pakket dat aansluit op jouw wensen, en voegt eventueel naar wens specifieke modules toe. Wij geloven dat onze klanten het systeem waarderen en werken daarom met een contract dat maandelijks opzegbaar is. Vanuit één centraal dashboard houd je makkelijk het overzicht. Nog een voordeel: software, handleiding en helpdesk, het is allemaal Nederlands. </p>

                </div>
            </div>
        </article>
        <!-- end choose bar -->
        <!-- start software bar -->
        <article class="software-bar">

            <div class="centering">
                <div class="text">

                    <h2>Kies je voor onze software, dan kies je voor: </h2>
                    <ul>
                        <li>
                            <img src="images/softaware_img1.png" alt="" />
                            <h3>Snel</h3>
                            <p>Geen grote investeringen of implementaties, contract maandelijks opzegbaar, meteen aan de slag</p>
                        </li>
                        <li>
                            <img src="images/softaware_img2.png" alt="" />
                            <h3>Innovatief</h3>
                            <p>Wij zoeken altijd naar mogelijkheden om onze software nog beter, mooier, sneller en vooral slimmer te maken. </p>
                        </li>
                        <li>
                            <img src="images/softaware_img3.png" alt="" />
                            <h3>Slim</h3>
                            <p>Eenvoudige koppelingen met alle bekende boekhoudpakketten, betaal alleen voor het pakket met modules die je echt nodig hebt, betaal per gebruiker en per maand. </p>
                        </li>
                        <li>
                            <img src="images/softaware_img4.png" alt="" />
                            <h3>Gemak</h3>
                            <p>Alle processen in één overzichtelijk dashboard, geen gedoe met meerdere aanbieders en ingewikkelde koppelingen</p>
                        </li>
                    </ul>

                    <a href="@LinkList.GetLink(Link.MenuOver)">LEES MEER OVER Hybrid SaaS</a>
                    <span class="border"></span>
                </div>
            </div>
        </article>
        <!-- end software bar -->
        <!-- start paket bar -->
        <article class="paket-bar" id="paket">

            <div class="centering">
                <div class="text">

                    <h2>KIES JE PAKKET</h2>
                    <aside class="include" hidden="hidden">
                        <h3>Standaard inbegrepen:</h3>
                        <ul>
                            <li><a>1 user</a></li>
                            <li><a>1 GB opslag</a></li>
                            <li><a>email forward | outlook add-in</a></li>
                            <li><a>CRM</a></li>
                            <li><a>wachtwoordbeheer</a></li>
                            <li><a>export naar excel | extranet</a></li>
                            <li><a>notities</a></li>
                            <li><a>standaard met financiele export naar extern pakket</a></li>
                        </ul>
                    </aside>

                    <aside class="image">
                        <img src="images/paket_img.png" alt="" />
                        <span>Alles wat je nodig <br /> hebt in 1 pakket!</span>
                    </aside>

                    <aside class="ticket">

                        <div class="common pak2">
                            <img src="images/ticket_icon2.png" alt="" />
                            <h3>Pakket <span>TICKETS + FACTURATIE</span></h3>
                            <cite>&euro; 250,- per maand</cite>
                            <a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)" class="detail">Over Pakket</a>
                            <ul>
                                <li><a> Hybrid SaaS Ticketsysteem, tijdregistratie en facturatie Eén overzichtelijk dashboard. Voor alles.</a></li>
                            </ul>
                        </div>

                        <div class="common pak1">
                            <img src="images/ticket_icon1.png" alt="" />
                            <h3>Pakket <span>CONTRACTBEHEER</span></h3>
                            <cite>&euro; 125,- per maand</cite>
                            <a href="@LinkList.GetLink(Link.PakketContractbeheer)" class="detail">Over Pakket</a>
                            <ul>
                                <li><a> Hybrid SaaS Contractbeheer, Eén overzichtelijk dashboard. Voor alles.</a></li>
                            </ul>
                        </div>


                        <div class="common pak2">
                            <img src="images/ticket_icon3.png" alt="" />
                            <h3>Pakket <span>OFFERTE + VOORRAAD</span></h3>
                            <cite>&euro; 300,- per maand</cite>
                            <a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)" class="detail">Over Pakket</a>
                            <ul>
                                <li><a> Hybrid SaaS Offerte & Voorraad Eén overzichtelijk dashboard. Voor alles.</a></li>
                            </ul>
                          </div>

                    </aside>

                    <a href=" @LinkList.GetLink(Link.MenuPakketten)" class="moreinfo">MEER INFORMATIE  OVER ONZE PAKKETTEN</a>
                    <span class="border"></span>
                </div>
            </div>
        </article>
        <!-- end paket bar -->
        <!-- start solution bar -->
        <article class="solution-bar" id="module">

            <div class="centering">
                <div class="text">

                    <h2>DE TOTAALOPLOSSING VAN Hybrid SaaS</h2>

                    <p>Hybrid SaaS biedt de een totaaloplossing voor dienstverlenende organisaties in de ICT branche. Met ons Online Business Software pakket automatiseer je eenvoudig alle bedrijfsprocessen via één systeem. </p>
                    <p>Organiseer alles: van het eerste klantcontact tot en met de nazorg, van administratie tot voorraadbeheer. Overzichtelijk gepresenteerd in een dashboard en met een flexibiliteit die past bij deze tijd.</p>
                    <aside class="fill">
                        <h3>Vul je pakket aan met behulp van onderstaande modules</h3>
                        <div class="pakket">
                            <h4>Aanvullend pakket (maandelijks)</h4>
                            <ul>
                                <li>
                                    <img src="images/connencting_img1.png" alt="" />
                                    <h5>Commissie<span>beheer</span></h5>
                                    <a href="@LinkList.GetLink(Link.Commissiebeheer)">Meer info</a>
                                </li>
                                <li>
                                    <img src="images/connencting_img2.png" alt="" />
                                    <h5>CONTRACT<span>beheer</span></h5>
                                    <a href="@LinkList.GetLink(Link.Contractenbeheer)">Meer info</a>
                                </li>
                                <li>
                                    <img src="images/connencting_img3.png" alt="" />
                                    <h5>FINANCIEEL</h5>
                                    <a href="@LinkList.GetLink(Link.Financieel)">Meer info</a>
                                </li>
                                <li>
                                    <img src="images/connencting_img5.png" alt="" />
                                    <h5>extra<span>gebruiker</span></h5>
                                    <a href="@LinkList.GetLink(Link.GebruikerIntern)">Meer info</a>
                                </li>
                                <li>
                                    <img src="images/connencting_img4.png" alt="" />
                                    <h5>Extra<span>dataopslag</span></h5>
                                    <a href="@LinkList.GetLink(Link.Dataopslag)">Meer info</a>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="implement">
                            <h4>Implementatie & Inrichting (eenmalig)<span>De onderstaande implementatiepakketten zijn samengesteld op basis van bovengenoemde pakketten</span></h4>
                            <ul>
                                <li>
                                    <span>- 2 Word sjablonen</span>
                                    <span>- 2 e-mail sjablonen</span>
                                    <span>- 1 Documentschema</span>
                                    <span>- Importeren relatiegegevens</span>
                                    <span>- 1 dagdeel training op locatie</span>
                                </li>

                                <li>
                                    <span>- 1 Word sjablonen </span>
                                    <span>- 2 e-mail sjablonen</span>
                                    <span>- 2 Documentschema</span>
                                    <span>- Importeren relatiegegevens</span>
                                    <span>- 3 dagdeel training op locatie</span>
                                </li>

                                <li>
                                    <span>- 3 Word sjablonen</span>
                                    <span>- 3 e-mail sjablonen</span>
                                    <span>- 1 Documentschema</span>
                                    <span>- Importeren relatiegegevens</span>
                                    <span>- 6 dagdeel training op locatie</span>
                                </li>
                            </ul>
                        </div>
                        <div class="furnishing" hidden="hidden">
                            <h4>Aanvullende Implementatie & Inrichting (eenmalig)<span>De onderstaande werkzaamheden kunnen als aanvulling worden gekozen op de bovengenoemde implementatiepakketten</span></h4>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="satisfy">
                            <span>Ben je tevreden over je huidige administratiesoftware? </span>
                            <span>Je kunt je eigen administratie eenvoudig koppelen met onze modules, bijvoorbeeld met het Ticketsysteem of de module Werkbonnen.</span>
                        </div>

                    </aside>

                    <a href=" @LinkList.GetLink(Link.MenuModules)" class="moreinfo">MEER INFORMATIE  OVER DE MODULES</a>
                    <span class="border"></span>
                </div>
            </div>
        </article>
        <!-- end solution bar -->
        <!-- start hybrid bar -->
        <article class="hybrid-bar" id="over">

            <div class="centering">
                <div class="orhybrid" hidden="hidden">

                    <h2>DIT ZEGGEN KLANTEN OVER Hybrid SaaS</h2>
                    <aside class="hybrid">
                        <div class="left">
                            <ul>
                                <li>
                                    <div class="image"><img src="images/hybrid_img1.png" alt="" /></div>
                                    <div class="text">
                                        <p>“Nullam dapibus blandit orci, viverra gravida dui tis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
                                        <div class="owner">
                                            <span>Chanel Iman</span>
                                            <cite>CEO of Pinterest</cite>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="image"><img src="images/hybrid_img3.png" alt="" /></div>
                                    <div class="text">
                                        <p>“Nullam dapibus blandit orci, viverra gravida dui tis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
                                        <div class="owner">
                                            <span>Adriana Lima</span>
                                            <cite>Founder of Instagram</cite>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul>
                                <li>
                                    <div class="image"><img src="images/hybrid_img2.png" alt="" /></div>
                                    <div class="text">
                                        <p>“Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”</p>
                                        <div class="owner">
                                            <span>Chanel Iman</span>
                                            <cite>CEO of Pinterest</cite>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="image"><img src="images/hybrid_img4.png" alt="" /></div>
                                    <div class="text">
                                        <p>“Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”</p>
                                        <div class="owner">
                                            <span>Adriana Lima</span>
                                            <cite>Founder of Instagram</cite>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>

                    <div class="flexslider2 carasoule">
                        <ul class="slides">
                            <!--Add companys-->
                            <li><a href="http://www.vriedak.nl/" target="_blank"><img src="images/broadby_img1.png" alt="" /></a></li>
                            <li><a href="http://www.groenenboom.nl/" target="_blank"><img src="images/broadby_img2.png" alt="" /></a></li>
                            <li><a href="http://www.renedon.nl/" target="_blank"><img src="images/broadby_img3.png" alt="" /></a></li>
                            <li><a href="http://www.bamtechniek.nl/" target="_blank"><img src="images/broadby_img4.png" alt="" /></a></li>
                            <li><a href="http://www.fws.nl/" target="_blank"><img src="images/broadby_img5.png" alt="" /></a></li>
                        </ul>
                    </div>

                    <span class="border"></span>
                </div>
            </div>
        </article>
        <!-- end hybrid bar -->
        <!-- start support bar -->
                <article class="support-bar" id="support">
                	
                	<div class="centering">
                        <div class="supportive">

                            <h2>onze support<span></span></h2>
                            <aside class="support">
                                <div class="left">
                                    <ul>
                                        <li>
                                            <div class="image"><img src="images/support_img1.png" alt="" /></div>
                                            <div class="text">
                                                <h3>downloads</h3>
                                                <p>
                                                    <a href="@LinkList.GetLink(Link.BrowserDownload)">Hybrid SaaS Browser </a><br />
                                                    <a href="@LinkList.GetLink(Link.WordAddDownload)">Hybrid SaaS Word add-in</a><br />
                                                    <a href="@LinkList.GetLink(Link.OutlookAddDownload)">Hybrid SaaS Outlook add-in </a>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="image"><img src="images/support_img3.png" alt="" /></div>
                                            <div class="text">
                                                <a href="@LinkList.GetLink(Link.Handleiding)"><h3>handleiding</h3></a>
                                                <p>Onze uitgebreide handleiding geeft inzicht in de werking van onze software.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="image"><img src="images/support_img3.png" alt="" /></div>
                                            <div class="text">
                                                <a href="@LinkList.GetLink(Link.KijkMetMijMee)"><h3>Kijk met mij mee</h3></a>
                                                <p>Wij kunnen op afstand meekijken op uw computer, gebruik deze optie om onze medewerkers toegang te geven tot uw pc.</p>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="right">
                                    <ul>
                                        <li>
                                            <div class="image"><img src="images/support_img2.png" alt="" /></div>
                                            <div class="text">
                                                <a href="@LinkList.GetLink(Link.InvoerTicket)"><h3>ticket systemen</h3></a>
                                                <p>Stel snel en gemakkelijk uw vraag online aan onze organisatie.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="image"><img src="images/support_img3.png" alt="" /></div>
                                            <div class="text">
                                                <a href="@LinkList.GetLink(Link.MenuContact)"><h3>helpdesk</h3></a>
                                                <p>Onze contact gegevens.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="image"><img src="images/support_img3.png" alt="" /></div>
                                            <div class="text">
                                                <a href="@LinkList.GetLink(Link.Handleiding)"><h3>Consultancy</h3></a>
                                                <p>Maak gebruik van onze jarenlange kennis als systeembeheerder, softwareontwikkelaar & bedrijfsautomatiseerder.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                            <span class="border"></span>
                        </div>
	                </div>
                </article>
                <!-- end support bar -->
    
        @Content.ContactForm()

    </section>
    <!-- end center part -->

</section>
<!-- end content -->