@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}
<!-- start slider -->
<section id="slider-part">

    <!-- start slider bar -->
    <article class="slider-bar">
        <div class="flexslider">
             
            <ul class="slides">
                <li><img src="images/slider_img.jpg" alt=""/></li>
                <li><img src="images/slider_img1.jpg" alt="" /></li>
                <li><img src="images/slider_img2.jpg" alt="" /></li>
                <li><img src="images/slider1.jpg" alt="" /></li>
                <li><img src="images/slider4.jpg" alt="" /></li>

            </ul>

            <aside class="text">
                <div class="centering">
                    <h2>Online Business Software voor ICT dienstverleners</h2>
                    <p>Hybrid SaaS Ticketsysteem, tijdregistratie en facturatie. Eén overzichtelijk dashboard.</p>
                </div>
            </aside>
            <a class="downarrow" data-speed="2000" data-easing="easeOutQuint" href="#over"><img src="images/downarrow_img.png" alt="" /></a>
        </div>
    </article>
    <!-- end slider bar -->

</section>
<!-- end slider -->
<!-- start content -->
<section id="content-part">

    <!-- start centerpart -->
    <section id="center-part">

        <!-- start about bar -->
        <article class="about-bar">
            <div class="centering">

                <h3>Eén, complete, Nederlandse software oplossing voor alle bedrijfsprocessen binnen de ICT-dienstverlening: dat is Hybrid SaaS.</h3>

                <aside class="left">
                    <p>Met Hybrid SaaS heb je alles wat je nodig hebt om alle bedrijfsprocessen slim te organiseren. Van relatiebeheer, ticketsysteem tot het beheer van de voorraad en de facturatie. Je kiest zelf het pakket dat aansluit op jouw wensen, en voegt eventueel naar wens specifieke modules toe. </p>
                </aside>

                <aside class="right">
                    <p>Wij geloven dat onze klanten het systeem waarderen en werken daarom met een contract dat maandelijks opzegbaar is. Vanuit één centraal dashboard houd je makkelijk het overzicht.</p>
                </aside>

                <a href="@LinkList.GetLink(Link.MenuOver)" class="why">Waarom Hybrid SaaS? </a>

            </div>
        </article>
        <!-- end about bar -->
        <!-- start choose bar -->
        <article class="choose-bar">
            <div class="centering">
                <center><iframe width="640" height="360" src="https://www.youtube.com/embed/tu0xv-PvKXU?loop=1&autoplay=1&rel=0&showinfo=0&controls=0&autohide=1" frameborder="0" allowfullscreen></iframe></center>
            </div>
            <div class="centering">
                <div class="text">

                    <h2>Waarom kiezen voor Hybrid SaaS?</h2>
                    <p>Met Hybrid SaaS heb je alles wat je nodig hebt om alle bedrijfsprocessen slim te organiseren. Van relatiebeheer, ticketsysteem tot het beheer van de voorraad en de facturatie. Je kiest zelf het pakket dat aansluit op jouw wensen, en voegt eventueel naar wens specifieke modules toe. Wij geloven dat onze klanten het systeem waarderen en werken daarom met een contract dat maandelijks opzegbaar is. Vanuit één centraal dashboard houd je makkelijk het overzicht. Nog een voordeel: software, handleiding en helpdesk, het is allemaal Nederlands. </p>

                </div>
            </div>
        </article>
        <!-- end choose bar -->
        <!-- start software bar -->
        <article class="software-bar">

            <div class="centering">
                <div class="text">

                    <h2>Kies je voor onze software, dan kies je voor: </h2>
                    <ul>
                        <li>
                            <img src="images/softaware_img1.png" alt="" />
                            <h3>Snel</h3>
                            <p>Geen grote investeringen of implementaties, contract maandelijks opzegbaar, meteen aan de slag</p>
                        </li>
                        <li>
                            <img src="images/softaware_img2.png" alt="" />
                            <h3>Innovatief</h3>
                            <p>Wij zoeken altijd naar mogelijkheden om onze software nog beter, mooier, sneller en vooral slimmer te maken. </p>
                        </li>
                        <li>
                            <img src="images/softaware_img3.png" alt="" />
                            <h3>Slim</h3>
                            <p>Eenvoudige koppelingen met alle bekende boekhoudpakketten, betaal alleen voor het pakket met modules die je echt nodig hebt, betaal per gebruiker en per maand. </p>
                        </li>
                        <li>
                            <img src="images/softaware_img4.png" alt="" />
                            <h3>Gemak</h3>
                            <p>Alle processen in één overzichtelijk dashboard, geen gedoe met meerdere aanbieders en ingewikkelde koppelingen</p>
                        </li>
                    </ul>

                    <a href="@LinkList.GetLink(Link.MenuOver)">LEES MEER OVER Hybrid SaaS</a>
                    <span class="border"></span>
                </div>
            </div>
        </article>
        <!-- end software bar -->
        <!-- start paket bar -->
        <article class="paket-bar" id="paket">

            <div class="centering">
                <div class="text">

                    <h2>KIES JE PAKKET</h2>
                    <aside class="include" hidden="hidden">
                        <h3>Standaard inbegrepen:</h3>
                        <ul>
                            <li><a>1 user</a></li>
                            <li><a>1 GB opslag</a></li>
                            <li><a>email forward | outlook add-in</a></li>
                            <li><a>CRM</a></li>
                            <li><a>wachtwoordbeheer</a></li>
                            <li><a>export naar excel | extranet</a></li>
                            <li><a>notities</a></li>
                            <li><a>standaard met financiele export naar extern pakket</a></li>
                        </ul>
                    </aside>

                    <aside class="image">
                        <img src="images/paket_img.png" alt="" />
                        <span>Alles wat je nodig <br /> hebt in 1 pakket!</span>
                    </aside>

                    <aside class="ticket">

                        <div class="common pak3">
                            <img src="@LinkList.GetImage(Link.PakketTicketsFacturatie)" title="@LinkList.GetLinkName(Link.PakketTicketsFacturatie)" />
                            <h3>@LinkList.GetLinkName(Link.PakketTicketsFacturatie)</h3>
                            <cite>@LinkList.GetPrice(Link.PakketTicketsFacturatie)</cite>
                            <a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)" class="detail">Over Pakket</a>
                            </ br><h6>@LinkList.GetQuote(Link.PakketTicketsFacturatie)</h6>
                        </div>

                        <div class="common pak3">
                            <img src="@LinkList.GetImage(Link.PakketContractbeheer)" title="@LinkList.GetLinkName(Link.PakketContractbeheer)" />
                            <h3>@LinkList.GetLinkName(Link.PakketContractbeheer)</h3>
                            <cite>@LinkList.GetPrice(Link.PakketContractbeheer)</cite>
                            <a href="@LinkList.GetLink(Link.PakketContractbeheer)" class="detail">Over Pakket</a>
                            <h6>@LinkList.GetQuote(Link.PakketContractbeheer)</h6>
                        </div>


                        <div class="common pak3">
                            <img src="@LinkList.GetImage(Link.PakketKwaliteitsControle)" title="@LinkList.GetLinkName(Link.PakketKwaliteitsControle)" />
                            <h3>@LinkList.GetLinkName(Link.PakketKwaliteitsControle)</h3>
                            <cite>@LinkList.GetPrice(Link.PakketKwaliteitsControle)</cite>
                            <a href="@LinkList.GetLink(Link.PakketKwaliteitsControle)" class="detail">Over Pakket</a>
                            </ br><h6>@LinkList.GetQuote(Link.PakketKwaliteitsControle)</h6>
                        </div>

                    </aside>

                    <a href=" @LinkList.GetLink(Link.MenuPakketten)" class="moreinfo">MEER INFORMATIE  OVER ONZE PAKKETTEN</a>
                    <span class="border"></span>
                </div>
            </div>
        </article>
        <!-- end paket bar -->
        <!-- start implementatie bar -->
        <article class="solution-bar" id="module">

            <div class="centering">
                <div class="text">
                    <h2>Implementatie & Inrichting (eenmalig)</h2>
                    <p>Alle pakketten worden kant en klaar opgeleverd bij u op locatie, Uw huisstijl wordt geïntegreerd in de uitvoer documenten en e-mails, uw medewerkers worden getraind voor het gebruik van de software, dit zal per gekozen pakket / aanvullende module en bedrijfsgrootte variëren, u krijgt hiervoor een aparte offerte.</p>
                    
                    </div>
                </div>
            </article>
        <!-- end implementatie bar -->
                    <!-- start solution bar -->
                    <article class="solution-bar" id="module">

                        <div class="centering">
                            <div class="text">

                                <h2>DE TOTAALOPLOSSING VAN Hybrid SaaS</h2>

                                <p>Hybrid SaaS biedt de een totaaloplossing voor dienstverlenende organisaties in de ICT branche. Met ons Online Business Software pakket automatiseer je eenvoudig alle bedrijfsprocessen via één systeem. </p>
                                <p>Organiseer alles: van het eerste klantcontact tot en met de nazorg, van administratie tot voorraadbeheer. Overzichtelijk gepresenteerd in een dashboard en met een flexibiliteit die past bij deze tijd.</p>
                                <aside class="fill">
                                    <h3>Vul je pakket aan met behulp van de modules</h3>
                                    <div class="pakket">
                                        <ul>
                                            <li>
                                                <img src="@LinkList.GetImage(Link.MenuModules)" title="@LinkList.GetLinkName(Link.MenuModules)" />
                                                <h5>Alle<span>@LinkList.GetLinkName(Link.MenuModules)</span></h5>
                                                <a href="@LinkList.GetLink(Link.MenuModules)">Ga naar</a>
                                            </li>
                                            <li>
                                                <img src="@LinkList.GetImage(Link.GebruikerIntern)" title="@LinkList.GetLinkName(Link.GebruikerIntern)" />
                                                <h5>@LinkList.GetLinkName(Link.GebruikerIntern)</h5>
                                                <a href="@LinkList.GetLink(Link.GebruikerIntern)">Meer info</a>
                                            </li>
                                            <li>
                                                <img src="@LinkList.GetImage(Link.Facturatie)" title="@LinkList.GetLinkName(Link.Facturatie)" />
                                                <h5>@LinkList.GetLinkName(Link.Facturatie)</h5>
                                                <a href="@LinkList.GetLink(Link.Facturatie)">Meer info</a>
                                            </li>
                                            <li>
                                                <img src="@LinkList.GetImage(Link.TicketSysteem)" title="@LinkList.GetLinkName(Link.TicketSysteem)" />
                                                <h5>@LinkList.GetLinkName(Link.TicketSysteem)</h5>
                                                <a href="@LinkList.GetLink(Link.TicketSysteem)">Meer info</a>
                                            </li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="satisfy">
                                        <span>Ben je tevreden over je huidige administratiesoftware? </span>
                                        <span>Je kunt je eigen administratie eenvoudig koppelen met onze modules, bijvoorbeeld met het Ticketsysteem of de module Werkbonnen.</span>
                                    </div>

                                </aside>
                                <span class="border"></span>
                            </div>
                        </div>
                    </article>
                    <!-- end solution bar -->
                    <!-- start hybrid bar -->
                    <article class="hybrid-bar" id="over">

                        <div class="centering">
                            <div class="orhybrid" hidden="hidden">

                                <h2>DIT ZEGGEN KLANTEN OVER Hybrid SaaS</h2>
                                <aside class="hybrid">
                                    <div class="left">
                                        <ul>
                                            <li>
                                                <div class="image"><img src="images/hybrid_img1.png" alt="" /></div>
                                                <div class="text">
                                                    <p>“”</p>
                                                    <div class="owner">
                                                        <span></span>
                                                        <cite></cite>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="image"><img src="images/hybrid_img3.png" alt="" /></div>
                                                <div class="text">
                                                    <p>“”</p>
                                                    <div class="owner">
                                                        <span></span>
                                                        <cite></cite>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="right">
                                        <ul>
                                            <li>
                                                <div class="image"><img src="images/hybrid_img2.png" alt="" /></div>
                                                <div class="text">
                                                    <p>“”</p>
                                                    <div class="owner">
                                                        <span></span>
                                                        <cite></cite>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="image"><img src="images/hybrid_img4.png" alt="" /></div>
                                                <div class="text">
                                                    <p>“”</p>
                                                    <div class="owner">
                                                        <span></span>
                                                        <cite></cite>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </aside>

                                <div class="flexslider2 carasoule">
                                    <ul class="slides">
                                        <!--Add companys-->
                                        <li><a href="http://www.vriedak.nl/" target="_blank"><img src="images/broadby_img1.png" alt="" /></a></li>
                                        <li><a href="http://www.groenenboom.nl/" target="_blank"><img src="images/broadby_img2.png" alt="" /></a></li>
                                        <li><a href="http://www.renedon.nl/" target="_blank"><img src="images/broadby_img3.png" alt="" /></a></li>
                                        <li><a href="http://www.bamtechniek.nl/" target="_blank"><img src="images/broadby_img4.png" alt="" /></a></li>
                                        <li><a href="http://www.fws.nl/" target="_blank"><img src="images/broadby_img5.png" alt="" /></a></li>
                                    </ul>
                                </div>

                                <span class="border"></span>
                            </div>
                        </div>
                    </article>
                    <!-- end hybrid bar -->
        <!-- start support bar -->
        <article class="support-bar" id="support">

            <div class="centering">
                <div class="supportive">

                    <h2>onze support<span></span></h2>
                    <h1 style="color:orange; margin-left:200px; width: 750px;">@LinkList.GetTitle(Link.InvoerTicket)</h1>
                    <aside class="support">
                        <div class="left">
                            <ul>
                                <li>
                                    <div class="image"><img src="@LinkList.GetImage(Link.Download)" title="@LinkList.GetLinkName(Link.Download)" /></div>
                                    <div class="text">
                                        <h3>@LinkList.GetLinkName(Link.Download)</h3>
                                        <p>
                                            <a href="@LinkList.GetLink(Link.BrowserDownload)">@LinkList.GetLinkName(Link.BrowserDownload)</a><br />
                                            <a href="@LinkList.GetLink(Link.WordAddDownload)">@LinkList.GetLinkName(Link.WordAddDownload)</a><br />
                                            <a href="@LinkList.GetLink(Link.OutlookAddDownload)">@LinkList.GetLinkName(Link.OutlookAddDownload)</a><br />
                                            <a target="_blank" href="@LinkList.GetLink(Link.DataAdapter)">@LinkList.GetLinkName(Link.DataAdapter)</a><br />
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="image"><img src="@LinkList.GetImage(Link.Handleiding)" title="@LinkList.GetLinkName(Link.Handleiding)" /></div>
                                    <div class="text">
                                        <a target="_blank" href="@LinkList.GetLink(Link.Handleiding)"><h3>@LinkList.GetLinkName(Link.Handleiding)</h3></a>
                                        <p>@LinkList.GetDescription(Link.Handleiding)</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="image"><img src="@LinkList.GetImage(Link.KijkMetMijMee)" title="@LinkList.GetLinkName(Link.KijkMetMijMee)" /></div>
                                    <div class="text">
                                        <a href="@LinkList.GetLink(Link.KijkMetMijMee)"><h3>@LinkList.GetLinkName(Link.KijkMetMijMee)</h3></a>
                                        <p>@LinkList.GetDescription(Link.KijkMetMijMee)</p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="right">
                            <ul>
                                <li>
                                    <div class="image"><img src="@LinkList.GetImage(Link.InvoerTicket)" title="@LinkList.GetLinkName(Link.InvoerTicket)" /></div>
                                    <div class="text">
                                        <a target="_blank" href="@LinkList.GetLink(Link.InvoerTicket)"><h3>@LinkList.GetLinkName(Link.InvoerTicket)</h3></a>
                                        <p>@LinkList.GetDescription(Link.InvoerTicket)</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="image"><img src="@LinkList.GetImage(Link.HelpDesk)" title="@LinkList.GetLinkName(Link.HelpDesk)" /></div>
                                    <div class="text">
                                        <a href="@LinkList.GetLink(Link.MenuContact)"><h3>@LinkList.GetLinkName(Link.HelpDesk)</h3></a>
                                        <p>@LinkList.GetDescription(Link.HelpDesk)</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="image"><img src="@LinkList.GetImage(Link.Consultancy)" title="@LinkList.GetLinkName(Link.Consultancy)" /></div>
                                    <div class="text">
                                        <h3>@LinkList.GetLinkName(Link.Consultancy)</h3>
                                        <p>@LinkList.GetDescription(Link.Consultancy)</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                    <span class="border"></span>
                </div>
            </div>
        </article>
        <!-- end support bar -->

                    @Content.ContactForm()

    </section>
    <!-- end center part -->

</section>
<!-- end content -->