@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}
		<!-- start content -->
		<section id="content-part">

			<!-- start centerpart -->
            <section id="center-part">

                <!-- start module bar -->
                <article class="module-bar">

                    <div class="centering">
                        <div class="text">

                            <h3>Kies hier je modules</h3>
                            <p>Je kan het basispakket aanvullen met onderstaande modules</p>
                            <p>om zo de beste workflow te realiseren voor je bedrijf</p>
                            <div class="fill">
                                <img src="/images/fill_img.png" alt="" />
                            </div>

                        </div>
                    </div>
                </article>
                <!-- end module bar -->
                <!-- start select bar -->
                <article class="select-bar">

                    <div class="centering">
                        <div class="text">
                           @{
                               var modules = LinkList.LinkDictionary.Where(x => x.Value.Type == LinkType.Module).Select(y => y.Value);
                               foreach (var module in modules.OrderBy(x => x.LinkName))
                               {
                                    <div class="management">
                                        <img src="@module.Image" title="@module.IntroText" />

                                        <h4>@module.LinkName</h4>
                                        <div>
                                            <span>@module.Price</span>
                                        </div>
                                        <div>
                                            <ul>
                                                <li><a>@module.IntroText @module.Description</a></li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="outlook">

                                            <a href="@module.Url" class="detail">detail overzicht</a>
                                        </div>
                                    </div>
                                   }
                               }
                        </div>
                    </div>
                </article>
                <!-- end select bar -->
                <!-- start paket bar -->
                <article class="paket-bar" id="paket">

                    <div class="centering">
                        <div class="text">
                            <article class="box-bar" style="border-bottom:initial">
                            </article>
                            <aside class="ticket">
                                <div class="common pak1" style="margin:0px 10px 10px 10px; width:22% ">
                                    <img src="@LinkList.GetImage(Link.GebruikerIntern)" title="@LinkList.GetLinkName(Link.GebruikerIntern)" />
                                    <h3><span>@LinkList.GetLinkName(Link.GebruikerIntern)</span></h3>
                                    <br /><br /><br /><cite>@LinkList.GetPrice(Link.GebruikerIntern)</cite>
                                    <a href="@LinkList.GetLink(Link.GebruikerIntern)" class="detail" style="margin-top:60px;">Over Pakket</a>
                                    <ul>
                                        <li> Hybrid SaaS gebruikers</li>
                                    </ul>
                                </div>
                                <div class="common pak1" style="margin:0px 10px 10px 10px; width:22% ">
                                    <img src="@LinkList.GetImage(Link.GebruikerExtern)" title="@LinkList.GetLinkName(Link.GebruikerExtern)" />
                                    <h3><span>@LinkList.GetLinkName(Link.GebruikerExtern)</span></h3>
                                    <cite>@LinkList.GetPrice(Link.GebruikerExtern)</cite>
                                    <a href="@LinkList.GetLink(Link.GebruikerExtern)" class="detail" style="margin-top:60px;">Over Pakket</a>
                                    <ul>
                                        <li> Hybrid SaaS buitendienst medewerkers</li>
                                    </ul>
                                </div>
                                <div class="common pak1" style="margin:0px 10px 10px 10px; width:22%">
                                    <img src="@LinkList.GetImage(Link.Dataopslag)" title="@LinkList.GetLinkName(Link.Dataopslag)" />
                                    <h3><span>@LinkList.GetLinkName(Link.Dataopslag)</span></h3>
                                    <br /><br /><br /><cite>@LinkList.GetPrice(Link.Dataopslag)</cite>
                                    <a href="@LinkList.GetLink(Link.Dataopslag)" class="detail" style="margin-top:55px;">Over Pakket</a>
                                    <ul>
                                        <li> Hybrid SaaS dataopslag</li>
                                    </ul>
                                </div>
                            </aside>
                            </div>
                        </div>
               </article>
                            <!-- start paket bar -->
            </section>
		<!-- end center part -->
	</section>
	<!-- end content -->