@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}
		<!-- start content -->
		<section id="content-part">

			<!-- start centerpart -->
            <section id="center-part">

                <!-- start module bar -->
                <article class="module-bar">

                    <div class="centering">
                        <div class="text">

                            <h3>Kies hier je modules</h3>
                            <p>In combinatie met je basispakket kan je hem desgewenst aanvullen met de onderstaande modules</p>
                            <p>Om de beste workflow te optimaliceren voor je bedrijf</p>
                            <div class="fill">
                                <img src="/images/fill_img.png" alt="" />
                            </div>

                        </div>
                    </div>
                </article>
                <!-- end module bar -->
                <!-- start select bar -->
                <article class="select-bar">

                    <div class="centering">
                        <div class="text">

                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Abonnementen)" title="@LinkList.GetLinkName(Link.Abonnementen)" /> 
                                
                                <h4>@LinkList.GetLinkName(Link.Abonnementen)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Abonnementen)</span>
                                </div>
                                <div>
                                    <ul>
                                        <li><a>@LinkList.GetTitle(Link.Abonnementen) @LinkList.GetDescription(Link.Abonnementen) </a></li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Abonnementen)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.BalansWinstVerliesrekening)" title="@LinkList.GetLinkName(Link.BalansWinstVerliesrekening)" />
                                <h4>@LinkList.GetLinkName(Link.BalansWinstVerliesrekening)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.BalansWinstVerliesrekening)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.BalansWinstVerliesrekening) @LinkList.GetDescription(Link.BalansWinstVerliesrekening) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.BalansWinstVerliesrekening)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Bankrekening)" title="@LinkList.GetLinkName(Link.Bankrekening)" />
                                <h4>@LinkList.GetLinkName(Link.Bankrekening)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Bankrekening)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Bankrekening) @LinkList.GetDescription(Link.Bankrekening) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Bankrekening)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Bedrijfsagenda)" title="@LinkList.GetLinkName(Link.Bedrijfsagenda)" />
                                <h4>@LinkList.GetLinkName(Link.Bedrijfsagenda)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Bedrijfsagenda)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Bedrijfsagenda) @LinkList.GetDescription(Link.Bedrijfsagenda) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Bedrijfsagenda)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Certificatenbeheer)" title="@LinkList.GetLinkName(Link.Certificatenbeheer)" />
                                <h4>@LinkList.GetLinkName(Link.Certificatenbeheer)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Certificatenbeheer)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Certificatenbeheer) @LinkList.GetDescription(Link.Certificatenbeheer) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Certificatenbeheer)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Commissiebeheer)" title="@LinkList.GetLinkName(Link.Commissiebeheer)" />
                                <h4>@LinkList.GetLinkName(Link.Commissiebeheer)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Commissiebeheer)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Commissiebeheer) @LinkList.GetDescription(Link.Commissiebeheer) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Commissiebeheer)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Contractenbeheer)" title="@LinkList.GetLinkName(Link.Contractenbeheer)" />
                                <h4>@LinkList.GetLinkName(Link.Contractenbeheer)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Contractenbeheer)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Contractenbeheer) @LinkList.GetDescription(Link.Contractenbeheer) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Contractenbeheer)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.FacturatieDebiteurbeheer)" title="@LinkList.GetLinkName(Link.FacturatieDebiteurbeheer)" />
                                <h4>@LinkList.GetLinkName(Link.FacturatieDebiteurbeheer)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.FacturatieDebiteurbeheer)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.FacturatieDebiteurbeheer) @LinkList.GetDescription(Link.FacturatieDebiteurbeheer) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.FacturatieDebiteurbeheer)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Extranet)" title="@LinkList.GetLinkName(Link.Extranet)" />
                                <h4>@LinkList.GetLinkName(Link.Extranet)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Extranet)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Extranet) @LinkList.GetDescription(Link.Extranet) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Extranet)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.ExportBoekhouding)" title="@LinkList.GetLinkName(Link.ExportBoekhouding)" />
                                <h4>@LinkList.GetLinkName(Link.ExportBoekhouding)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.ExportBoekhouding)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.ExportBoekhouding) @LinkList.GetDescription(Link.ExportBoekhouding) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.ExportBoekhouding)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Facturatie)" title="@LinkList.GetLinkName(Link.Facturatie)" />
                                <h4>@LinkList.GetLinkName(Link.Facturatie)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Facturatie)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Facturatie) @LinkList.GetDescription(Link.Facturatie) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Facturatie)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Financieel)" title="@LinkList.GetLinkName(Link.Financieel)" />
                                <h4>@LinkList.GetLinkName(Link.Financieel)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Financieel)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Financieel) @LinkList.GetDescription(Link.Financieel) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Financieel)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Gebouwbeheer)" title="@LinkList.GetLinkName(Link.Gebouwbeheer)" />
                                <h4>@LinkList.GetLinkName(Link.Gebouwbeheer)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Gebouwbeheer)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Gebouwbeheer) @LinkList.GetDescription(Link.Gebouwbeheer) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Gebouwbeheer)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Hrm)" title="@LinkList.GetLinkName(Link.Hrm)" />
                                <h4>@LinkList.GetLinkName(Link.Hrm)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Hrm)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Hrm) @LinkList.GetDescription(Link.Hrm) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Hrm)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Inventarisbeheer)" title="@LinkList.GetLinkName(Link.Inventarisbeheer)" />
                                <h4>@LinkList.GetLinkName(Link.Inventarisbeheer)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Inventarisbeheer)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Inventarisbeheer) @LinkList.GetDescription(Link.Inventarisbeheer) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Inventarisbeheer)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.KmRegistratie)" title="@LinkList.GetLinkName(Link.KmRegistratie)" />
                                <h4>@LinkList.GetLinkName(Link.KmRegistratie)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.KmRegistratie)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.KmRegistratie) @LinkList.GetDescription(Link.KmRegistratie) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.KmRegistratie)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Notities)" title="@LinkList.GetLinkName(Link.Notities)" />
                                <h4>@LinkList.GetLinkName(Link.Notities)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Notities)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Notities) @LinkList.GetDescription(Link.Notities) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Notities)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.OffertesOrders)" title="@LinkList.GetLinkName(Link.OffertesOrders)" />
                                <h4>@LinkList.GetLinkName(Link.OffertesOrders)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.OffertesOrders)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.OffertesOrders) @LinkList.GetDescription(Link.OffertesOrders) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.OffertesOrders)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.OutlookAddIn)" title="@LinkList.GetLinkName(Link.OutlookAddIn)" />
                                <h4>@LinkList.GetLinkName(Link.OutlookAddIn)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.OutlookAddIn)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.OutlookAddIn) @LinkList.GetDescription(Link.OutlookAddIn) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.OutlookAddIn)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Prepaidkaarten)" title="@LinkList.GetLinkName(Link.Prepaidkaarten)" />
                                <h4>@LinkList.GetLinkName(Link.Prepaidkaarten)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Prepaidkaarten)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Prepaidkaarten) @LinkList.GetDescription(Link.Prepaidkaarten) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Prepaidkaarten)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Productenbeheer)" title="@LinkList.GetLinkName(Link.Productenbeheer)" />
                                <h4>@LinkList.GetLinkName(Link.Productenbeheer)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Productenbeheer)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Productenbeheer) @LinkList.GetDescription(Link.Productenbeheer) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Productenbeheer)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Projectbeheer)" title="@LinkList.GetLinkName(Link.Projectbeheer)" />
                                <h4>@LinkList.GetLinkName(Link.Projectbeheer)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Projectbeheer)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Projectbeheer) @LinkList.GetDescription(Link.Projectbeheer) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Projectbeheer)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Relatiebeheer)" title="@LinkList.GetLinkName(Link.Relatiebeheer)" />
                                <h4>@LinkList.GetLinkName(Link.Relatiebeheer)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Relatiebeheer)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Relatiebeheer) @LinkList.GetDescription(Link.Relatiebeheer) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Relatiebeheer)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.TicketSysteem)" title="@LinkList.GetLinkName(Link.TicketSysteem)" />
                                <h4>@LinkList.GetLinkName(Link.TicketSysteem)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.TicketSysteem)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.TicketSysteem) @LinkList.GetDescription(Link.TicketSysteem) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.TicketSysteem)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Tijdregistratie)" title="@LinkList.GetLinkName(Link.Tijdregistratie)" />
                                <h4>@LinkList.GetLinkName(Link.Tijdregistratie)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Tijdregistratie)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Tijdregistratie) @LinkList.GetDescription(Link.Tijdregistratie) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Tijdregistratie)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Voorraadbeheer)" title="@LinkList.GetLinkName(Link.Voorraadbeheer)" />
                                <h4>@LinkList.GetLinkName(Link.Voorraadbeheer)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Voorraadbeheer)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Voorraadbeheer) @LinkList.GetDescription(Link.Voorraadbeheer) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Voorraadbeheer)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.VragenlijstenEquettes)" title="@LinkList.GetLinkName(Link.VragenlijstenEquettes)" />
                                <h4>@LinkList.GetLinkName(Link.VragenlijstenEquettes)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.VragenlijstenEquettes)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.VragenlijstenEquettes) @LinkList.GetDescription(Link.VragenlijstenEquettes) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.VragenlijstenEquettes)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Wachtwoordbeheer)" title="@LinkList.GetLinkName(Link.Wachtwoordbeheer)" />
                                <h4>@LinkList.GetLinkName(Link.Wachtwoordbeheer)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Wachtwoordbeheer)-</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Wachtwoordbeheer) @LinkList.GetDescription(Link.Wachtwoordbeheer) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Wachtwoordbeheer)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Webshop)" title="@LinkList.GetLinkName(Link.Webshop)" />
                                <h4>@LinkList.GetLinkName(Link.Webshop)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Webshop)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Webshop) @LinkList.GetDescription(Link.Webshop) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Webshop)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
                                <img src="@LinkList.GetImages(Link.Werkbonnen)" title="@LinkList.GetLinkName(Link.Werkbonnen)" />
                              
                                <h4>@LinkList.GetLinkName(Link.Werkbonnen)</h4>
                                <div>
                                    <span>@LinkList.GetPrice(Link.Werkbonnen)</span>
                                </div>
                                <ul>
                                    <li><a>@LinkList.GetTitle(Link.Werkbonnen) @LinkList.GetDescription(Link.Werkbonnen) </a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">

                                    <a href="@LinkList.GetLink(Link.Werkbonnen)" class="detail">detail overzicht</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- end select bar -->
                <!-- start paket bar -->
                <article class="paket-bar" id="paket">

                    <div class="centering">
                        <div class="text">
                            <article class="box-bar" style="border-bottom:initial">
                            </article>
                            <aside class="ticket">
                                <div class="common pak1" style="margin:0px 10px 10px 10px; width:22% ">
                                    <img src="@LinkList.GetImages(Link.GebruikerIntern)" title="@LinkList.GetLinkName(Link.GebruikerIntern)" />
                                    <h3><span>@LinkList.GetLinkName(Link.GebruikerIntern)</span></h3>
                                    <br /><br /><br /><cite>@LinkList.GetPrice(Link.GebruikerIntern)</cite>
                                    <a href="@LinkList.GetLink(Link.GebruikerIntern)" class="detail" style="margin-top:60px;">Over Pakket</a>
                                    <ul>
                                        <li> Hybrid SaaS gebruikers</li>
                                    </ul>
                                </div>
                                <div class="common pak1" style="margin:0px 10px 10px 10px; width:22% ">
                                    <img src="@LinkList.GetImages(Link.GebruikerExtern)" title="@LinkList.GetLinkName(Link.GebruikerExtern)" />
                                    <h3><span>@LinkList.GetLinkName(Link.GebruikerExtern)</span></h3>
                                    <cite>@LinkList.GetPrice(Link.GebruikerExtern)</cite>
                                    <a href="@LinkList.GetLink(Link.GebruikerExtern)" class="detail" style="margin-top:60px;">Over Pakket</a>
                                    <ul>
                                        <li> Hybrid SaaS buitendienst medewerkers</li>
                                    </ul>
                                </div>
                                <div class="common pak1" style="margin:0px 10px 10px 10px; width:22%">
                                    <img src="@LinkList.GetImages(Link.Dataopslag)" title="@LinkList.GetLinkName(Link.Dataopslag)" />
                                    <h3><span>@LinkList.GetLinkName(Link.Dataopslag)</span></h3>
                                    <br /><br /><br /><cite>@LinkList.GetPrice(Link.Dataopslag)</cite>
                                    <a href="@LinkList.GetLink(Link.Dataopslag)" class="detail" style="margin-top:55px;">Over Pakket</a>
                                    <ul>
                                        <li> Hybrid SaaS dataopslag</li>
                                    </ul>
                                </div>
                            </aside>
                            </div>
                        </div>
               </article>
                            <!-- start paket bar -->
            </section>
		<!-- end center part -->
	</section>
	<!-- end content -->