@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}
<!-- start slider -->
<section id="slider-part">

    <!-- start slider bar -->
    <article class="slider-bar">
        <div class="flexslider subflex">

            <ul class="">
                <li><img src="images/slider_img3.png" alt="" /></li>
            </ul>

            <div class="header">
                <div class="centering">
                    <h2>@LinkList.GetLinkName(Link.PakketKwaliteitsControle)</h2>
                </div>
            </div>

        </div>
    </article>
    <!-- end slider bar -->
</section>
<!-- start content -->
<section id="content-part"></section>
<!-- start centerpart -->
<section id="center-part"></section>
<!-- end slider -->
<!-- start ticketsen bar-->
        <div class="ticketsen-bar">
            <div class="centering">
                <table>
                    <tr>
                        <td><img src="@LinkList.GetImages(Link.PakketKwaliteitsControle)" title="@LinkList.GetLinkName(Link.PakketKwaliteitsControle)" /></td>
                    </tr>
                    <tr>
                        <td><h4>@LinkList.GetLinkName(Link.PakketKwaliteitsControle)</h4></td>
                    </tr>
                </table>

                <div class="Left parah">
                    <p>Pakket Kwaliteitscontrolle</p>
                </div>

                <div class="Right parah">
                    <p>Pakket Kwaliteitscontrolle</p>
                    <a href="@LinkList.GetLink(Link.prijzenlijst)">Benieuwd naar de prijzen? Download prijslijst</a>
                </div>
                <div class="clear"></div>

                <a href=""><span>Wat krijg je als je aan de slag gaat met @LinkList.GetLinkName(Link.PakketKwaliteitsControle)</span> </a>
                <a href=""><span>Welke functionaliteiten biedt @LinkList.GetLinkName(Link.PakketKwaliteitsControle)</span> </a>
            </div>
        </div>
        <!-- start voordelen-->
        <div class="voordelen">
            <div class="centering">
                <h3>De unieke voordelen van @LinkList.GetLinkName(Link.PakketKwaliteitsControle)</h3>

                <div class="servicebox">
                    <div class="pannel">
                        <img alt="" src="images/advantage_img7.png" />
                        <h6>alles in een</h6>
                        <p>Kwaliteitscontrolle</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img8.png" />
                        <h6>Overzichtelijk</h6>
                        <p>Kwaliteitscontrolle</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img9.png" />
                        <h6>Integratie</h6>
                        <p>Kwaliteitscontrolle</p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="servicebox">
                    <div class="pannel">
                        <img alt="" src="images/advantage_img10.png" />
                        <h6>Support</h6>
                        <p>Online meertalig klantportaal, realtime 24/7 overal ter wereld</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img11.png" />
                        <h6>Custom look</h6>
                        <p>Volledig in je eigen huisstijl</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img12.png" />
                        <h6>Flexibel</h6>
                        <p>Geen langlopende contracten. Wij hebben vertrouwen in ons product, dus mag jij maandelijks je abonnement aanpassen</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- ends voordelen-->
        <!-- start nieuws bar -->
        <div class="nieuws-bar">
            <h2>Nieuwsgierig geworden wat wij voor jou kunnen betekenen? Vraag nu onze live demo aan</h2>
            <h3>Wat krijg je als je aan de slag gaat met @LinkList.GetLinkName(Link.PakketKwaliteitsControle)</h3>
            <ul class="support">
                <li>
                    <img src="@LinkList.GetBigImages(Link.VragenlijstenEquettes)" title="@LinkList.GetLinkName(Link.VragenlijstenEquettes)" />
                    <a href="@LinkList.GetLink(Link.VragenlijstenEquettes)" title="@LinkList.GetTitle(Link.VragenlijstenEquettes)">@LinkList.GetLinkName(Link.VragenlijstenEquettes)</a>
                </li>
                <li>
                    <img src="@LinkList.GetBigImages(Link.Extranet)" title="@LinkList.GetLinkName(Link.Extranet)" />
                    <a href="@LinkList.GetLink(Link.Extranet)" title="@LinkList.GetTitle(Link.Extranet)">@LinkList.GetLinkName(Link.Extranet)</a>
                </li>
                <li>
                    <img src="@LinkList.GetBigImages(Link.Relatiebeheer)" title="@LinkList.GetLinkName(Link.Relatiebeheer)" />
                    <a href="@LinkList.GetLink(Link.Relatiebeheer)" title="@LinkList.GetTitle(Link.Relatiebeheer)">@LinkList.GetLinkName(Link.Relatiebeheer)</a>
                <li>
                </li>
            </ul>
        </div>
        <section id="content-part">
            </section>
            <!-- end nieuws bar -->
            <!-- start centerpart -->
            <section id="center-part">
                <!-- start boxdetail bar -->
                <article class="boxdetail-bar" style="margin: initial">
                    <div class="centering">
                        <aside class="ticket">
                            <div class="common pak3" style="padding:0px 0 57px">
                                <h4>Standaard inbegrepen:</h4>
                                <div class="stand">
                                    <ul>
                                        <li><img src="@LinkList.GetImages(Link.Relatiebeheer)" title=" @LinkList.GetTitle(Link.Relatiebeheer) " /><a href=" @LinkList.GetLink(Link.Relatiebeheer) " title=" @LinkList.GetTitle(Link.Relatiebeheer) ">@LinkList.GetLinkName(Link.Relatiebeheer)</a></li>
                                        <li><img src="@LinkList.GetImages(Link.VragenlijstenEquettes)" title=" @LinkList.GetTitle(Link.VragenlijstenEquettes) " /><a href="@LinkList.GetLink(Link.VragenlijstenEquettes)" title="@LinkList.GetTitle(Link.VragenlijstenEquettes)">@LinkList.GetLinkName(Link.VragenlijstenEquettes)</a></li>
                                    </ul>
                                    <ul>
                                        <li><img src="@LinkList.GetImages(Link.Extranet)" title=" @LinkList.GetTitle(Link.Extranet) " /><a href="@LinkList.GetLink(Link.Extranet)" title="@LinkList.GetTitle(Link.Extranet)">@LinkList.GetLinkName(Link.Extranet)</a></li>
                                        <li><img src="@LinkList.GetImages(Link.GebruikerIntern)" title=" @LinkList.GetTitle(Link.GebruikerIntern) " /><a href="@LinkList.GetLink(Link.GebruikerIntern)" title="@LinkList.GetTitle(Link.GebruikerIntern)">@LinkList.GetLinkName(Link.GebruikerIntern)</a></li>
                                        <li><img src="@LinkList.GetImages(Link.Dataopslag)" title=" @LinkList.GetTitle(Link.Dataopslag) " /><a href="@LinkList.GetLink(Link.Dataopslag)" title="@LinkList.GetTitle(Link.Dataopslag)">@LinkList.GetLinkName(Link.Dataopslag)</a></li>
                                    </ul>
                                    <cite>@LinkList.GetPrice(Link.PakketKwaliteitsControle)</cite>
                                </div>
                                </div>
                        </aside>
                    </div>
                </article>
                <!-- end boxdetail bar -->
            </section>
            <!-- end center part -->

            <article class="connecting-bar" style="margin:initial">
                <!-- start welke-bar -->
                <div class="welke-bar">
                    <div class="centering noborder">
                        <h3>Welke functionaliteiten biedt<br>@LinkList.GetLinkName(Link.PakketKwaliteitsControle)</h3>
                        <h5>Kwaliteitscontrolle</h5>
                        <p>Kwaliteitscontrolle</p><br />


                        <h5>Kwaliteitscontrolle</h5>
                        <p>Kwaliteitscontrolle</p><br />

                        <h5>Kwaliteitscontrolle</h5>
                        <p>Kwaliteitscontrolle</p><br />

                        <h5>Kwaliteitscontrolle</h5>
                        <p>Kwaliteitscontrolle</p><br />

                        <h5>Kwaliteitscontrolle</h5>
                        <p>Kwaliteitscontrolle</p><br />
                    </div>
                </div>
            </article>
            <!-- ends welke-bar -->
            <!-- start connecting bar -->
            <        <article class="connecting-bar" style="margin:initial">
                <div class="centering">
                    <div class="merge">
                        <div class="module">
                            <h3>Aansluitende modules</h3>
                            <p class="misjenog">Mis je nog iets? Breid je pakket eenvoudig uit met de volgende modules.</p>
                            <div class="pakket">
                                <ul>
                                    <li>
                                        <img src="@LinkList.GetImages(Link.TicketSysteem)" title="@LinkList.GetLinkName(Link.TicketSysteem)" />
                                        <h5>@LinkList.GetLinkName(Link.TicketSysteem)</h5>
                                        <a href="@LinkList.GetLink(Link.TicketSysteem)">Meer info</a>
                                    </li>
                                    <li>
                                        <img src="@LinkList.GetImages(Link.Projectbeheer)" title="@LinkList.GetLinkName(Link.Projectbeheer)" />
                                        <h5>@LinkList.GetLinkName(Link.Projectbeheer)</h5>
                                        <a href="@LinkList.GetLink(Link.Projectbeheer)">Meer info</a>
                                    </li>
                                    <li>
                                        <img src="@LinkList.GetImages(Link.Facturatie)" title="@LinkList.GetLinkName(Link.Facturatie)" />
                                        <h5>@LinkList.GetLinkName(Link.Facturatie)</h5>
                                        <a href="@LinkList.GetLink(Link.Facturatie)">Meer info</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @Content.ContactFormDemo();
                    </div>
                </div>
            </article>
            <!-- end connecting bar -->
