
@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}
<!-- start slider -->
<section id="slider-part">

    <!-- start slider bar -->
    <article class="slider-bar">
        <div class="flexslider subflex">

            <ul class="">
                <li><img src="images/slider_img3.png" alt="" /></li>
            </ul>

            <div class="header">
                <div class="centering">
                    <h2>@LinkList.GetLinkName(Link.PakketContractbeheer)</h2>
                </div>
            </div>

        </div>
    </article>
    <!-- end slider bar -->
</section>
<!-- start content -->
<section id="content-part">
    </section>
    <!-- start centerpart -->
    <section id="center-part">
        </section>
        <!-- end slider -->
        <!-- start ticketsen bar-->
        <div class="ticketsen-bar">
            <div class="centering">
                <table>
                    <tr>
                        <td><img src="@LinkList.GetImage(Link.PakketContractbeheer)" title="@LinkList.GetLinkName(Link.PakketContractbeheer)" /></td>
                    </tr>
                    <tr>
                        <td><h4>@LinkList.GetLinkName(Link.PakketContractbeheer)</h4></td>
                    </tr>
                </table> 

                <div class="Left parah">
                    <p>Pakket Contractbeheer</p>
                </div>

                <div class="Right parah">
                    <p>Hybrid SaaS is een Nederlands product, gebaseerd op Nederlandse business logica met een professionele Nederlandse klantenservice. Bij ons hoef je niet bang te zijn voor vervelende verrassingen. We communiceren graag met onze klanten in heldere taal en vragen een eerlijke, betaalbare prijs voor onze producten.</p>
                    <a href="@LinkList.GetLink(Link.Prijzenlijst)">Benieuwd naar de prijzen? Download prijslijst</a>
                </div>
                <div class="clear"></div>

                <a href=""><span>Wat krijg je als je aan de slag gaat met @LinkList.GetLinkName(Link.PakketContractbeheer)?</span> </a>
                <a href=""><span>Welke functionaliteiten biedt @LinkList.GetLinkName(Link.PakketContractbeheer)?</span> </a>
            </div>
        </div>
        <!-- start ticketsen bar-->
        <!-- start voordelen-->
        <div class="voordelen">
            <div class="centering">
                <h3>De unieke voordelen van @LinkList.GetLinkName(Link.PakketContractbeheer)</h3>

                <div class="servicebox">
                    <div class="pannel">
                        <img alt="" src="images/advantage_img7.png" />
                        <h6>alles in een</h6>
                        <p>Pakket Contractbeheer</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img8.png" />
                        <h6>Overzichtelijk</h6>
                        <p>Pakket Contractbeheer</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img9.png" />
                        <h6>Integratie</h6>
                        <p>Pakket Contractbeheer</p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="servicebox">
                    <div class="pannel">
                        <img alt="" src="images/advantage_img10.png" />
                        <h6>Support</h6>
                        <p>Online meertalig klantportaal, realtime 24/7 overal ter wereld</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img11.png" />
                        <h6>Custom look</h6>
                        <p>Volledig in je eigen huisstijl</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img12.png" />
                        <h6>Flexibel</h6>
                        <p>Geen langlopende contracten. Wij hebben vertrouwen in ons product, dus mag jij maandelijks je abonnement aanpassen</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- ends voordelen-->
        <!-- start nieuws bar -->
        <div class="nieuws-bar">
            <h2>Nieuwsgierig geworden wat wij voor jou kunnen betekenen? Vraag nu onze live demo aan</h2>
            <h3>Wat krijg je als je aan de slag gaat met @LinkList.GetLinkName(Link.PakketContractbeheer)</h3>
            <ul class="support">
                <li>
                    <img src="@LinkList.GetBigImages(Link.Relatiebeheer)" title="@LinkList.GetLinkName(Link.Relatiebeheer)" />
                    <a href="@LinkList.GetLink(Link.Relatiebeheer)" title="@LinkList.GetTitle(Link.Relatiebeheer)">@LinkList.GetLinkName(Link.Relatiebeheer)</a>
                </li>
                <li>
                    <img src="@LinkList.GetBigImages(Link.Facturatie)" title="@LinkList.GetLinkName(Link.Facturatie)" />
                    <a href="@LinkList.GetLink(Link.Facturatie)" title="@LinkList.GetTitle(Link.Facturatie)">@LinkList.GetLinkName(Link.Facturatie)</a>
                </li>
            </ul>
        </div>
        <section id="content-part">
            <!-- start centerpart -->
            <section id="center-part">
                <!-- start boxdetail bar -->
                <article class="boxdetail-bar" style="margin: initial">
                    <div class="centering">
                        <aside class="ticket">
                            <div class="common pak3" style="padding:0px 0 57px">
                                <h4>Standaard inbegrepen:</h4>
                                <div class="stand">
                                    <ul>
                                        <li><img src="@LinkList.GetImage(Link.Relatiebeheer)" title=" @LinkList.GetTitle(Link.Relatiebeheer) " /><a href=" @LinkList.GetLink(Link.Relatiebeheer) " title=" @LinkList.GetTitle(Link.Relatiebeheer) ">@LinkList.GetLinkName(Link.Relatiebeheer)</a></li>
                                        <li><img src="@LinkList.GetImage(Link.Facturatie)" title=" @LinkList.GetTitle(Link.Facturatie) " /><a href="@LinkList.GetLink(Link.Facturatie)" title="@LinkList.GetTitle(Link.Facturatie)">@LinkList.GetLinkName(Link.Facturatie)</a></li>
                                        <li><img src="@LinkList.GetImage(Link.Wachtwoordbeheer)" title=" @LinkList.GetTitle(Link.Wachtwoordbeheer) " /><a href="@LinkList.GetLink(Link.Wachtwoordbeheer)" title="@LinkList.GetTitle(Link.Wachtwoordbeheer)">@LinkList.GetLinkName(Link.Wachtwoordbeheer)</a></li>
                                        <li><img src="@LinkList.GetImage(Link.Notities)" title=" @LinkList.GetTitle(Link.Notities) " /><a href="@LinkList.GetLink(Link.Notities)" title="@LinkList.GetTitle(Link.Notities)">@LinkList.GetLinkName(Link.Notities)</a></li>
                                    </ul>
                                    <ul>
                                        <li><img src="@LinkList.GetImage(Link.ExportExternPakket)" title=" @LinkList.GetTitle(Link.ExportExternPakket) " /><a href="@LinkList.GetLink(Link.ExportExternPakket)" title="@LinkList.GetTitle(Link.ExportExternPakket)">@LinkList.GetLinkName(Link.ExportExternPakket)</a></li>
                                        <li><img src="@LinkList.GetImage(Link.ExportBoekhouding)" title=" @LinkList.GetTitle(Link.ExportBoekhouding) " /><a href="@LinkList.GetLink(Link.ExportBoekhouding)" title="@LinkList.GetTitle(Link.ExportBoekhouding)">@LinkList.GetLinkName(Link.ExportBoekhouding)</a></li>
                                        <li><img src="@LinkList.GetImage(Link.ExportExcel)" title=" @LinkList.GetTitle(Link.ExportExcel) " /><a href="@LinkList.GetLink(Link.ExportExcel)" title="@LinkList.GetTitle(Link.ExportExcel)">@LinkList.GetLinkName(Link.ExportExcel)</a></li>
                                    </ul>
                                    <ul>
                                        <li><img src="@LinkList.GetImage(Link.Extranet)" title=" @LinkList.GetTitle(Link.Extranet) " /><a href=" @LinkList.GetLink(Link.Extranet) " title=" @LinkList.GetTitle(Link.Extranet) ">@LinkList.GetLinkName(Link.Extranet)</a></li>
                                        <li><img src="@LinkList.GetImage(Link.OutlookAddIn)" title=" @LinkList.GetTitle(Link.OutlookAddIn) " /><a href="@LinkList.GetLink(Link.OutlookAddIn)" title="@LinkList.GetTitle(Link.OutlookAddDownload)">@LinkList.GetLinkName(Link.OutlookAddIn)</a></li>
                                        <li><img src="@LinkList.GetImage(Link.GebruikerIntern)" title=" @LinkList.GetTitle(Link.GebruikerIntern) " /><a href="@LinkList.GetLink(Link.GebruikerIntern)" title="@LinkList.GetTitle(Link.GebruikerIntern)">@LinkList.GetLinkName(Link.GebruikerIntern)</a></li>
                                        <li><img src="@LinkList.GetImage(Link.Dataopslag)" title=" @LinkList.GetTitle(Link.Dataopslag) " /><a href="@LinkList.GetLink(Link.Dataopslag)" title="@LinkList.GetTitle(Link.Dataopslag)">@LinkList.GetLinkName(Link.Dataopslag)</a></li>
                                    </ul>
                                    <cite>@LinkList.GetPrice(Link.PakketContractbeheer)</cite>
                                </div>
                            </div>
                        </aside>
                    </div>
                </article>
                <!-- end boxdetail bar -->
            </section>S
            <!-- end centerpart -->
        </section>
        <article class="connecting-bar" style="margin:initial">

            <!-- start welke-bar -->
            <div class="welke-bar">
                <div class="centering noborder">
                    <h3>Welke functionaliteiten biedt @LinkList.GetLinkName(Link.PakketContractbeheer)</h3>

                    <h5>Pakket Contractbeheer</h5>
                    <p>Pakket Contractbeheer</p>

                    <h5>Pakket Contractbeheer</h5>
                    <p>Pakket Contractbeheer</p>
                </div>
            </div>
        </article>
        <!-- ends welke-bar -->
        <!-- start connecting bar -->
        <        <article class="connecting-bar" style="margin:initial">
            <div class="centering">
                <div class="merge">
                    <div class="module">
                        <h3>Aansluitende modules</h3>
                        <p class="misjenog">Mis je nog iets? Breid je pakket eenvoudig uit met de volgende modules.</p>
                        <div class="pakket">
                            <ul>
                                <li>
                                    <img src="@LinkList.GetImage(Link.Webshop)" title="@LinkList.GetLinkName(Link.Webshop)" />
                                    <h5>@LinkList.GetLinkName(Link.Webshop)</h5>
                                    <a href="@LinkList.GetLink(Link.Webshop)">Meer info</a>
                                </li>
                                <li>
                                    <img src="@LinkList.GetImage(Link.Commissiebeheer)" title="@LinkList.GetLinkName(Link.Commissiebeheer)" />
                                    <h5>@LinkList.GetLinkName(Link.Commissiebeheer)</h5>
                                    <a href="@LinkList.GetLink(Link.Commissiebeheer)">Meer info</a>
                                </li>
                                <li>
                                    <img src="@LinkList.GetImage(Link.Tijdregistratie)" title="@LinkList.GetLinkName(Link.Tijdregistratie)" />
                                    <h5>@LinkList.GetLinkName(Link.Tijdregistratie)</h5>
                                    <a href="@LinkList.GetLink(Link.Tijdregistratie)">Meer info</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    @Content.ContactFormDemo();
                </div>
            </div>
        </article>
        <!-- end connecting bar -->
