@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}
        <!-- start slider -->
		<section id="slider-part">
			
            <!-- start slider bar -->
            <article class="slider-bar space">
            	<div class="flexslider">
                
                    <ul class="">
                    	<li><img src="images/slider_img1.png" alt="" /></li>
                    </ul>
                
                	<aside class="text">
                    	<div class="centering">
                        	<h2>De software van Hybrid SaaS; spelenderwijs aan de slag</h2>
                            <p>Hybrid SaaS Ticketsysteem, tijdregistratie en facturatie Eén overzichtelijk dashboard. Voor alles.</p>
						</div>                            
                        <span>Alle informatie over onze software vind je hier</span>
					</aside>
                    
            	</div>
            </article>
            <!-- end slider bar -->

		</section>
		<!-- end slider -->
		
		<!-- start content -->
		<section id="content-part"></section>
			<!-- start centerpart -->
            <section id="center-part"></section>
                <!-- start box bar -->
                <article class="box-bar">

                    <div class="centering">
                        <div class="box">
                            <h4>Kies hier je basis startpakket</h4>
                            <p>Naast het gekozen startpakket kan je hem desgewenst <br>uitbreiden met modules</p>
                            <div class="merge">
                                <img src="images/box_ict.png" alt="" class="boximg" />
                                <div class="boxcontent1">
                                    <div class="common pak1">
                                        <img src="@LinkList.GetImage(Link.PakketContractbeheer)" />
                                        <h3>@LinkList.GetLinkName(Link.PakketContractbeheer)</h3>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.Relatiebeheer)" title="@LinkList.GetTitle(Link.Relatiebeheer)">@LinkList.GetLinkName(Link.Relatiebeheer)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Facturatie)" title="@LinkList.GetTitle(Link.Facturatie)">@LinkList.GetLinkName(Link.Facturatie)</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.ExportBoekhouding)" title="@LinkList.GetTitle(Link.ExportBoekhouding)">@LinkList.GetLinkName(Link.ExportBoekhouding)</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.Notities)" title="@LinkList.GetTitle(Link.Notities)">@LinkList.GetLinkName(Link.Notities)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.GebruikerIntern)" title="@LinkList.GetTitle(Link.GebruikerIntern)">@LinkList.GetLinkName(Link.GebruikerIntern)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Dataopslag)" title="@LinkList.GetTitle(Link.Dataopslag)">@LinkList.GetLinkName(Link.Dataopslag)</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <cite>@LinkList.GetPrice(Link.PakketContractbeheer)</cite>
                                        <div class="clear"></div>
                                        <a href="@LinkList.GetLink(Link.PakketContractbeheer)" class="detail">DETAILs</a>
                                    </div>
                                </div>

                                <div class="boxcontent2">
                                    <div class="common pak2">
                                        <img src="@LinkList.GetImage(Link.PakketTicketsFacturatie)" />
                                        <h3>@LinkList.GetLinkName(Link.PakketTicketsFacturatie)</h3>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.Relatiebeheer)" title="@LinkList.GetTitle(Link.Relatiebeheer)">@LinkList.GetLinkName(Link.Relatiebeheer)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.TicketSysteem)" title="@LinkList.GetTitle(Link.TicketSysteem)">@LinkList.GetLinkName(Link.TicketSysteem)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Tijdregistratie)" title="@LinkList.GetTitle(Link.Tijdregistratie)">@LinkList.GetLinkName(Link.Tijdregistratie)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Facturatie)" title="@LinkList.GetTitle(Link.Facturatie)">@LinkList.GetLinkName(Link.Facturatie)</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.Projectbeheer)" title="@LinkList.GetTitle(Link.Projectbeheer)">@LinkList.GetLinkName(Link.Projectbeheer)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Prepaidkaarten)" title="@LinkList.GetTitle(Link.Prepaidkaarten)">@LinkList.GetLinkName(Link.Prepaidkaarten)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Wachtwoordbeheer)" title="@LinkList.GetTitle(Link.Wachtwoordbeheer)">@LinkList.GetLinkName(Link.Wachtwoordbeheer)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Notities)" title="@LinkList.GetTitle(Link.Notities)">@LinkList.GetLinkName(Link.Notities)</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.ExportBoekhouding)" title="@LinkList.GetTitle(Link.ExportBoekhouding)">@LinkList.GetLinkName(Link.ExportBoekhouding)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.OutlookAddIn)" title="@LinkList.GetTitle(Link.OutlookAddIn)">@LinkList.GetLinkName(Link.OutlookAddIn)</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.Extranet)" title="@LinkList.GetTitle(Link.Extranet)">@LinkList.GetLinkName(Link.Extranet)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.GebruikerIntern)" title="@LinkList.GetTitle(Link.GebruikerIntern)">@LinkList.GetLinkName(Link.GebruikerIntern)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Dataopslag)" title="@LinkList.GetTitle(Link.Dataopslag)">@LinkList.GetLinkName(Link.Dataopslag)</a></li>
                                        </ul>
                                        <cite>@LinkList.GetPrice(Link.PakketTicketsFacturatie)</cite>
                                        <div class="clear"></div>
                                        <a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)" class="detail">DETAILs</a>
                                    </div>
                                </div>
                                <div class="boxcontent3">
                                    <div class="common pak3">
                                        <img src=" @LinkList.GetImage(Link.PakketKwaliteitsControle)" />
                                        <h3>@LinkList.GetLinkName(Link.PakketKwaliteitsControle)</h3>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.Relatiebeheer)" title="@LinkList.GetTitle(Link.Relatiebeheer)">@LinkList.GetLinkName(Link.Relatiebeheer)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.VragenlijstenEquettes)" title="@LinkList.GetTitle(Link.VragenlijstenEquettes)">@LinkList.GetLinkName(Link.VragenlijstenEquettes)</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.GebruikerIntern)" title="@LinkList.GetTitle(Link.GebruikerIntern)">@LinkList.GetLinkName(Link.GebruikerIntern)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.GebruikerExtern)" title="@LinkList.GetTitle(Link.GebruikerExtern)">@LinkList.GetLinkName(Link.GebruikerExtern)</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.Extranet)" title="@LinkList.GetTitle(Link.Extranet)">@LinkList.GetLinkName(Link.Extranet)</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Dataopslag)" title="@LinkList.GetTitle(Link.Dataopslag)">@LinkList.GetLinkName(Link.Dataopslag)</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <cite>@LinkList.GetPrice(Link.PakketKwaliteitsControle)</cite>
                                        <div class="clear"></div>
                                        <a href="@LinkList.GetLink(Link.PakketKwaliteitsControle)" class="detail">DETAILs</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- end box bar -->
                <!-- start paket bar -->
                <article class="paket-bar" id="paket">

                    <div class="centering">
                        <div class="text">
                            <article class="box-bar" style="border-bottom:initial">

                                <div class="centering">
                                    <div class="box">
                                        <h4><font color="gray">Ga naar:</font></h4>
                                    </div>
                                </div>
                            </article>
                            <aside class="ticket">
                                <div class="common pak1" style="margin:0px 10px 10px 10px; width:22% ">
                                    <img src="@LinkList.GetImage(Link.MenuModules)" title="@LinkList.GetLinkName(Link.MenuModules)" />
                                    <h3>@LinkList.GetLinkName(Link.MenuModules)</h3>
                                    <br /><br /><br /><cite>@LinkList.GetPrice(Link.MenuModules)</cite>
                                    <a href="@LinkList.GetLink(Link.MenuModules)" class="detail">Over Pakket</a>
                                    <ul>
                                        <li> Hybrid SaaS modules</li>
                                    </ul>
                                </div>
                                <div class="common pak1" style="margin:0px 10px 10px 10px; width:22% ">
                                    <img src="@LinkList.GetImage(Link.GebruikerIntern)" title="@LinkList.GetLinkName(Link.GebruikerIntern)" />
                                    <h3>@LinkList.GetLinkName(Link.GebruikerIntern)</h3>
                                    <br /><br /><br /><cite>@LinkList.GetPrice(Link.GebruikerIntern)</cite>
                                    <a href="@LinkList.GetLink(Link.GebruikerIntern)" class="detail">Over Pakket</a>
                                    <ul>
                                        <li> Hybrid SaaS gebruikers</li>
                                    </ul>
                                </div>
                                <div class="common pak1" style="margin:0px 10px 10px 10px; width:22% ">
                                    <img src="@LinkList.GetImage(Link.GebruikerExtern)" title="@LinkList.GetLinkName(Link.GebruikerExtern)" />
                                    <h3>@LinkList.GetLinkName(Link.GebruikerExtern)</h3>
                                    <cite>@LinkList.GetPrice(Link.GebruikerExtern)</cite>
                                    <a href="@LinkList.GetLink(Link.GebruikerExtern)" class="detail">Over Pakket</a>
                                    <ul>
                                        <li> Hybrid SaaS buitendienst medewerkers</li>
                                    </ul>
                                </div>
                                <div class="common pak1" style="margin:0px 10px 10px 10px; width:22%">
                                    <img src="@LinkList.GetImage(Link.Dataopslag)" title="@LinkList.GetLinkName(Link.Dataopslag)" />
                                    <h3>@LinkList.GetLinkName(Link.Dataopslag)</h3>
                                    <br /><br /><br /><cite>@LinkList.GetPrice(Link.Dataopslag)</cite>
                                    <a href="@LinkList.GetLink(Link.Dataopslag)" class="detail">Over Pakket</a>
                                    <ul>
                                        <li> Hybrid SaaS dataopslag</li>
                                    </ul>
                                </div>
                            </aside>
                <!-- start paket bar -->
                        </div>
                    </div>
                </article>
<!-- end content -->
