@using Hybrid_Saas
@{
    Layout = "SiteLayout.cshtml";
}
        <!-- start slider -->
		<section id="slider-part">
			
            <!-- start slider bar -->
            <article class="slider-bar space">
            	<div class="flexslider">
                
                    <ul class="">
                    	<li><img src="images/slider_img1.png" alt="" /></li>
                    </ul>
                
                	<aside class="text">
                    	<div class="centering">
                        	<h2>De software van Hybrid Saas; spelenderwijs aan de slag</h2>
                            <p>Hybrid SaaS Ticketsysteem, tijdregistratie en facturatie Eén overzichtelijk dashboard. Voor alles.</p>
						</div>                            
                        <span>Alle informatie over onze software vind je hier</span>
					</aside>
                    
            	</div>
            </article>
            <!-- end slider bar -->

		</section>
		<!-- end slider -->
		
		<!-- start content -->
		<section id="content-part">

			<!-- start centerpart -->
			<section id="center-part">

				<!-- start box bar -->
                <article class="box-bar">
                	
                	<div class="centering">
                		<div class="box">
                        	<h4>Volledige integratie van onze pakketten en modules </h4>
                            <p>Dankzij de samengestelde pakketten heb je alle modules<br>die je nodig heb voor de juiste workflow.</p>
                            <div class="merge">
                            	<img src="images/box_img.png" alt="" class="boximg" />
                                <div class="boxcontent1">
                                    <div class="common pak1">
                                        <h3>Pakket CONTRACTBEHEER</h3>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.Relatiebeheer)">Relatiebeheer</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Facturatie)">Facturatie</a></li>
										</ul>
                                        <div class="clear"></div>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.ExportBoekhouding)">Export naar externe boekhouding</a></li>
										</ul>
                                        <div class="clear"></div>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.Notities)">Notities</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Gebruiker)">1 Gebruiker</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Dataopslag)">1 GB dataopslag</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <cite>&euro;125,- per maand</cite>
                                        <div class="clear"></div>
                                        <a href="@LinkList.GetLink(Link.PakketContactbeheer)" class="detail">DETAILs</a>
                                    </div>
                                </div>
                                <div class="boxcontent2">
                                    <div class="common pak2">
                                        <h3>Pakket TICKETS + FACTURATIE</h3>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.Relatiebeheer)">Relatiebeheer</a></li>
                                            <li><a href="@LinkList.GetLink(Link.TicketSysteem)">Ticketsysteem</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Tijdregistratie)">Tijdregistratie</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Facturatie)">Facturatie</a></li>
										</ul>
                                        <ul>                                            
                                            <li><a href="@LinkList.GetLink(Link.Productenbeheer)">Projectbeheer</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Prepaidkaarten)">Prepaidkaarten</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Wachtwoordbeheer)">Wachtwoordbeheer</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Notities)">Notities</a></li>
                                        </ul>
                                        <ul>   
                                            <li><a href="@LinkList.GetLink(Link.OutlookAddIn)">Outlook add-in</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Extranet)">Extranet</a></li>
                                            <li><a href="@LinkList.GetLink(Link.ExportBoekhouding)">Export naar externe boekhouding</a></li>
                                        </ul>
                                        <ul>    
                                            <li><a href="@LinkList.GetLink(Link.Gebruiker)">1 Gebruiker</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Dataopslag)">1 GB dataopslag</a></li>
                                        </ul>
                                        <cite>&euro;250,- per maand</cite>
                                        <div class="clear"></div>
                                        <a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)" class="detail">DETAILs</a>
                                    </div>
                                </div>
                                <div class="boxcontent3">
                                    <div class="common pak3">
                                        <h3>Pakket OFFERTE + VOORRAAD</h3>
                                        <ul>
                                            <li><a href="@LinkList.GetLink(Link.Relatiebeheer)">Relatiebeheer</a></li>
                                            <li><a href="@LinkList.GetLink(Link.TicketSysteem)">Ticketsysteem</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Tijdregistratie)">Tijdregistratie</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Facturatie)">Facturatie</a></li>
										</ul>
                                        <ul>                                            
                                            <li><a href="@LinkList.GetLink(Link.Productenbeheer)">Projectbeheer</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Prepaidkaarten)">Prepaidkaarten</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Wachtwoordbeheer)">Wachtwoordbeheer</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Notities)">Notities</a></li>
                                        </ul>
                                        <ul>   
                                            <li><a href="@LinkList.GetLink(Link.OutlookAddIn)">Outlook add-in</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Extranet)">Extranet</a></li>
                                            <li><a href="@LinkList.GetLink(Link.ExportBoekhouding)">Export naar externe boekhouding</a></li>
                                        </ul>
                                        <ul>   
                                            <li><a href="@LinkList.GetLink(Link.OffertesOrders)">Offertes en orders</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Productenbeheer)">Productenbeheer</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Voorraadbeheer)">Voorraadbeheer</a></li>
                                        </ul>
                                        <ul>    
                                            <li><a href="@LinkList.GetLink(Link.Inkooporderbeheer)">Inkooporder beheer</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Gebruiker)">1 Gebruiker</a></li>
                                            <li><a href="@LinkList.GetLink(Link.Dataopslag)">1 GB dataopslag</a></li>
                                        </ul>
                                        <cite>&euro;300,- per maand</cite>
                                        <div class="clear"></div>
                                        <a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)" class="detail">DETAILs</a>
                                    </div>
                                </div>
							</div>                                                                
                        </div>
	                </div>
                </article>
                <!-- end box bar -->

				<!-- start boxdetail bar -->
                <article class="boxdetail-bar">
                	
                	<div class="centering">
                		<aside class="ticket">
    
                            <div class="common pak2">
                                <img src="images/ticket_icon2a.png" alt="" />
                                <a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)"><h3>Pakket Tickets & Facturatie</h3></a>
                                <h4>Standaard inbegrepen:</h4>
                                <div class="stand">

                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.Relatiebeheer)">Relatiebeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.TicketSysteem)">Ticketsysteem</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Tijdregistratie)">Tijdregistratie </a></li>
                                        <li><a href="@LinkList.GetLink(Link.Facturatie)">Facturatie</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Projectbeheer)">Projectbeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Prepaidkaarten)">Prepaidkaarten</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Wachtwoordbeheer)">Wachtwoordbeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Notities)">Notities</a></li>
                                   </ul>

                                   <ul> 
                                        <li><a href="@LinkList.GetLink(Link.CRM)">CRM</a></li>
                                        <li><a href="@LinkList.GetLink(Link.ExportExternPakket)">Financiele export naar extern pakket</a></li>
                                        <li><a href="@LinkList.GetLink(Link.ExportBoekhouding)">Export naar externe boekhouding</a></li>
                                        <li><a href="@LinkList.GetLink(Link.ExportExcel)">Export naar Excel</a></li>
                                        
                                   </ul>

                                   <ul>
                                        <li><a href="@LinkList.GetLink(Link.OutlookAddIn)">Outlook add-in</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Extranet)">Extranet</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Gebruiker)">1 Gebruiker</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Dataopslag)">1 GB dataopslag</a></li>
                                    </ul>

                                </div>
                                <div class="outlook">
                                    <ul>
                                        <li><a></a></li>
                                        <li><a><img src="images/outlook_img2.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img3.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img4.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img5.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img1.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img2.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img3.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img4.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img5.png" alt="" /></a></li>
                                    </ul>
                                </div>
                            </div>

                                    <div class="common pak1">
                                        <img src="images/ticket_icon1.png" alt="" />
                                        <a href="@LinkList.GetLink(Link.PakketContactbeheer)"><h3>Pakket Contractbeheer</h3></a>
                                        <h4>Standaard inbegrepen:</h4>
                                        <div class="stand">
                                        
                                            <ul>
                                                <li><a href="@LinkList.GetLink(Link.Relatiebeheer)">Relatiebeheer</a></li>
                                                <li><a href="@LinkList.GetLink(Link.Facturatie)">Facturatie</a></li>
                                                <li><a href="@LinkList.GetLink(Link.Wachtwoordbeheer)">Wachtwoordbeheer</a></li>
                                                <li><a href="@LinkList.GetLink(Link.Notities)">Notities</a></li>
                                                <li><a href="@LinkList.GetLink(Link.CRM)">CRM</a></li> 
                                            </ul>
                                                
                                            <ul>
                                                <li><a href="@LinkList.GetLink(Link.ExportExternPakket)">Financiele export naar extern pakket</a></li>
                                                <li><a href="@LinkList.GetLink(Link.ExportBoekhouding)">Export naar externe boekhouding</a></li>
                                                <li><a href="@LinkList.GetLink(Link.ExportExcel)">Export naar Excel</a></li>
                                            </ul>
                                            
                                            <ul>
                                                <li><a href="@LinkList.GetLink(Link.Extranet)">Extranet</a></li>
                                                <li><a href="@LinkList.GetLink(Link.OutlookAddIn)">Outlook add-in</a></li>
                                                <li><a href="@LinkList.GetLink(Link.Gebruiker)">1 Gebruiker</a></li>
                                                <li><a href="@LinkList.GetLink(Link.Dataopslag)">1 GB dataopslag</a></li>
                                           </ul>
                                            
                                        </div>
                                        
                                        <div class="outlook">
                                        	<ul>
                                            	<li><a><img src="images/outlook_img1.png" alt="" /></a></li>
                                            	<li><a><img src="images/outlook_img2.png" alt="" /></a></li>
                                            	<li><a><img src="images/outlook_img3.png" alt="" /></a></li>
                                            	<li><a><img src="images/outlook_img4.png" alt="" /></a></li>
                                            	<li><a><img src="images/outlook_img5.png" alt="" /></a></li>
                                            </ul>
                                        </div>
                                        
                                    </div>                                    
                                   
                                    <div class="common pak3">
                                        <img src="images/ticket_icon3a.png" alt="" />
                                        <a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)"><h3>Pakket Offerte & Voorraad</h3></a>
                                            <h4>Standaard inbegrepen:</h4>
                                            <div class="stand">

                                                <ul>
                                                    <li><a href="@LinkList.GetLink(Link.Relatiebeheer)">Relatiebeheer</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.TicketSysteem)">Ticketsysteem</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.Tijdregistratie)">Tijdregistratie </a></li>
                                                    <li><a href="@LinkList.GetLink(Link.Facturatie)">Facturatie</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.Productenbeheer)">Projectbeheer</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.Prepaidkaarten)">Prepaidkaarten</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.Wachtwoordbeheer)">Wachtwoordbeheer</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.Notities)">Notities</a></li>
                                                </ul>

                                                <ul>
                                                    <li><a href="@LinkList.GetLink(Link.OffertesOrders)">Offertes en orders</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.Projectbeheer)">Productenbeheer</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.Voorraadbeheer)">Voorraadbeheer</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.Inkooporderbeheer)">Inkooporder beheer</a></li>
                                                </ul>

                                                <ul>
                                                    <li><a href="@LinkList.GetLink(Link.CRM)">CRM</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.Financieel)">Financiele export naar extern pakket</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.ExportBoekhouding)">Export naar externe boekhouding</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.ExportExcel)">Export naar Excel</a></li>
                                                    
                                                </ul>

                                                <ul>                                                  
                                                    <li><a href="@LinkList.GetLink(Link.OutlookAddIn)">Outlook add-in</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.Extranet)">Extranet</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.Gebruiker)">1 Gebruiker</a></li>
                                                    <li><a href="@LinkList.GetLink(Link.Dataopslag)">10 GB dataopslag</a></li>
                                                </ul>
                                        </div>
                                        <div class="outlook">
                                            <ul>
                                                <li>
                                                    <a">
                                                        <img src="images/outlook_img1.png" alt="" />
                                                        </a>
                                                </li>
                                                <li><a"><img src="images/outlook_img2.png" alt="" /></li>
                                                <li><a"><img src="images/outlook_img3.png" alt="" /></li>
                                                <li><a"><img src="images/outlook_img4.png" alt="" /></li>
                                                <li><a"><img src="images/outlook_img5.png" alt="" /></li>
                                                <li><a"><img src="images/outlook_img1.png" alt="" /></li>
                                                <li><a"><img src="images/outlook_img2.png" alt="" /></li>
                                                <li><a"><img src="images/outlook_img3.png" alt="" /></li>
                                                <li><a"><img src="images/outlook_img4.png" alt="" /></li>
                                                <li><a"><img src="images/outlook_img5.png" alt="" /></li>
                                                <li><a"><img src="images/outlook_img4.png" alt="" /></li>
                                                <li><a"><img src="images/outlook_img5.png" alt="" /></li>
                                                <li><a"><img src="images/outlook_img1.png" alt="" /></li>
                                                <li><a"><img src="images/outlook_img2.png" alt="" /></li>
                                                <li><a"><img src="images/outlook_img3.png" alt="" /></li>
                                            </ul>
                                        </div>

                                    </div>                                    
                                   
                                            
                                    </div>
                    </aside>
                    </div>  
                </article>
                <!-- end boxdetail bar -->

			</section>
			<!-- end center part -->
			
		</section>
		<!-- end content -->