
@using Hybrid_Saas
@{
    Layout = "SiteLayout.cshtml";

    if (IsPost)
    {
        var companyname = Request.Form["name"];
        var contactname = Request.Form["email"];
        var employeecount = Request.Form["bericht"];

        if (Validation.IsValid())
        {
            SendMail.SendEmail(companyname, contactname, employeecount);
        }
    }
}
<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <!-- start commission bar -->
        <article class="commission-bar">
            <div class="centering">
                <div class="management">
                    <h4>Aanvullend Pakket Financeel</h4>
                    <div class="merge">
                        <div class="para">
                            <p>Wil je het boekhoudproces nog slimmer inrichten? Kies dan ons pakket Financieel. Dit is de perfecte aanvulling op bijvoorbeeld Tickets & Facturatie of Offerte & Voorraad. </p>
                            <p>Wij hebben zelf een boekhoudpakket ontwikkeld waarmee je eenvoudig digitaal online de complete boekhouding bijhoudt. Van het versturen van facturen tot een actueel overzicht in de balans, winst- en verliesrekening; dit pakket is zo ontworpen dat het voor 100% aansluit op de andere pakketten van Hybrid SaaS. </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- end commission bar -->
        <article class="software-bar">
            <div class="centering">
                <div class="text">
                    <h2>De unieke voordelen van het<br>aanvullende pakket financieel</h2>
                    <ul>
                        <li>
                            <img src="images/softaware_img1.png" alt="" />
                            <h3>Snel</h3>
                            <p>Geen apart administratiesysteem meer nodig</p>
                        </li>
                        <li>
                            <img src="images/softaware_img2.png" alt="" />
                            <h3>Innovatief</h3>
                            <p>Facturen worden eerder betaald doordat het debiteurenbeheer gestroomlijnd verloopt</p>
                        </li>
                        <li>
                            <img src="images/softaware_img3.png" alt="" />
                            <h3>Slim</h3>
                            <p>Incasseer en betaal veilig en snel facturen</p>
                        </li>
                        <li>
                            <img src="images/softaware_img4.png" alt="" />
                            <h3>Gemak</h3>
                            <p>Een Nederlands product, ontwikkeld door het gedreven ontwikkelteam van Hybrid SaaS</p>
                        </li>
                    </ul>
                     <h2>Wat krijg je als je aan de slag gaat met het<br>aanvullende pakket financieel</h2>
                    <ul>
                        
                        <li>
                            <img src="images/softaware_img1.png" alt="" />
                            <h3>Degelijk</h3>
                            <p>Gewoon een goed degelijk Nederlands boekhoudsysteem</p>
                        </li>
                        <li>
                            <img src="images/softaware_img2.png" alt="" />
                            <h3>Koppeling</h3>
                            <p>Werkt goed samen met andere pakketten van Hybrid SaaS. Koppel bijvoorbeeld de verkoop aan het ticketsysteem  </p>
                        </li>
                        <li>
                            <img src="images/softaware_img3.png" alt="" />
                            <h3>Actueel</h3>
                            <p>Altijd een actueel overzicht in de financiële positie van het bedrijf </p>
                        </li>
                        <li>
                            <img src="images/softaware_img4.png" alt="" />
                            <h3>Eenvoudig</h3>
                            <p>Eenvoudig inzicht en aanpassen van de balans, winst- en verliesrekening</p>
                        </li>
                    </ul>
                </div>
                <article class="solution-bar" style="margin:unset" id="module">
                    <aside class="fill">
                        <div class="satisfy" style="margin:0px auto 0">
                            <span>Welke modules zitten er in dit pakket?</span>
                        </div>
                    </aside>
                </article>
            </div>
        </article>
        <section id="content-part">
            <!-- start centerpart -->
            <section id="center-part">
                <!-- start boxdetail bar -->
                <article class="boxdetail-bar" style="margin: unset">
                    <div class="centering">
                        <aside class="ticket">
                            <div class="common pak3" style="padding:0px 0 57px">
                                <h4>Standaard inbegrepen:</h4>
                                <div class="stand">
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.Relatiebeheer)">Relatiebeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Facturatie)">Facturatie</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Wachtwoordbeheer)">Wachtwoordbeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Notities)">Notities</a></li>
                                        <li><a href="@LinkList.GetLink(Link.CRM)">CRM</a></li> 
                                    </ul>
                                                
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.ExportExternPakket)">Financiele export naar extern pakket</a></li>
                                        <li><a href="@LinkList.GetLink(Link.ExportBoekhouding)">Export naar externe boekhouding</a></li>
                                        <li><a href="@LinkList.GetLink(Link.ExportExcel)">Export naar Excel</a></li>
                                    </ul>
                                            
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.Extranet)">Extranet</a></li>
                                        <li><a href="@LinkList.GetLink(Link.OutlookAddIn)">Outlook add-in</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Gebruiker)">1 Gebruiker</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Dataopslag)">1 GB dataopslag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </article>
                <!-- end boxdetail bar -->
            </section>
            <!-- end center part -->
        </section>
        <article class="connecting-bar" style="margin:unset">
            <!-- start commission bar -->
            <article class="commission-bar" style="margin:unset">
                <div class="centering">
                    <div class="management">
                        <h2>Welke functionaliteiten biedt aanvullend pakket Financieel?</h2>
                        <div class="merge2">
                            <div class="para">
                                <p><b>Houd debiteuren- en crediteurenbeheer overzichtelijk </b></p>
                                <p>Zie in één oogopslag de status van facturen en onderneem direct actie als dat nodig is. Sorteer de facturen op de manier die jij zelf handig vindt. Dit kan bijvoorbeeld op klant, maar ook op vervaldatum of aantal herinneringen. Hoe vaak en hoe snel een klant een herinnering moet ontvangen, leg je zelf vast in het systeem. </p><br />

                                <p><b>Banktransacties inlezen</b></p>
                                <p>Lees de banktransacties in en koppel ze eenvoudig aan openstaande verkoopfacturen. Het is ook mogelijk om incassobatches aan te maken. Het inlezen van banktransacties is ook handig voor de verwerking van inkoopfacturen. Zo kun je afschrijvingen direct koppelen aan de grootboekrekening of gegevens van inkoopfacturen automatisch gebruiken voor betalingen en incasso's. </p><br />

                                <p><b>Stuur meerdere herinneringen tegelijk</b></p>
                                <p>Zie je dat er meerdere facturen te lang openstaan? Stuur alle betrokkenen tegelijk een herinnering. Dat scheelt je veel tijd. </p><br />

                                <p><b>Weet altijd alles over de financiële positie van je organisatie</b></p>
                                <p>Met het Hybrid SaaS boekhoudpakket weet je zeker dat jou geen financiële verrassingen te wachten staan. Je kunt altijd zien hoe je ervoor staat door de balans, winst- en verliesrekening te openen. Mochten er gegevens ontbreken, dan krijg je hier een melding over. Zo kun je dit zelf aanpassen. Door op de verschillende posten van de rekeningen te klikken, krijg je alle informatie tot in detail te zien. Dit kan duidelijkheid scheppen of fouten aan het licht brengen. Is het tijd om de administratie naar de belasting te brengen? Dan kan jouw boekhouder met een eigen inlogcode de rekeningen controleren. Correcties aanbrengen kan direct in de rekening als dat nodig is. Daarna exporteer je het bestand naar Excel. </p><br />

                                <p><b>Mis je nog iets? Breid je pakket eenvoudig uit met de volgende modules en pakketten</b></p>
                                <p>Benieuwd naar de prijzen? Download prijslijst</p><br />
                                
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </article>
        <article class="connecting-bar" style="margin:unset">
            <div class="centering">
                <div class="merge">
                    <div class="module">
                        <h3>Aanvullende modules en pakketten</h3>
                        <p>Mis je nog iets? Breid je pakket eenvoudig uit met de volgende modules en pakketten</p>
                        <p>Benieuwd naar de prijzen? Download prijslijst</p>
                        <div class="pakket">
                            <h4>Aanvullend pakket (maandelijks)</h4>
                            <ul>
                                <li>
                                    <img src="images/connencting_img1.png" alt="" />
                                    <h5>Webshop</h5>
                                    <a href=" @LinkList.GetLink(Link.Webshop)">Meer info</a>
                                </li>
                                <li>
                                    <img src="images/connencting_img2.png" alt="" />
                                    <h5>Commissie</h5>
                                    <a href="@LinkList.GetLink(Link.Commissiebeheer)">Meer info</a>
                                </li>
                                <li>
                                    <img src="images/connencting_img3.png" alt="" />
                                    <h5>Vragenlijsten<br>en Equettes</h5>
                                    <a href="@LinkList.GetLink(Link.VragenlijstenEquettes)">Meer info</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form">
                        <h4>Interesse in deze module of een opmerking? Stuur ons een bericht.</h4>
                        <form action="#">
                            <input type="text" value="Naam" onFocus="if(this.value=='Naam')this.value='';" onBlur="if(this.value=='')this.value='Naam';" />
                            <input type="text" value="E-mail" onFocus="if(this.value=='E-mail')this.value='';" onBlur="if(this.value=='')this.value='E-mail';" />
                            <textarea cols="15" rows="5" onFocus="if(this.value=='Bericht')this.value='';" onBlur="if(this.value=='')this.value='Bericht';">Bericht</textarea>
                            <input type="submit" value="VERSTUur" />
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </section>
</section>