@using Hybrid_Saas
@{
    Layout = "SiteLayout.cshtml";

    if (IsPost)
    {
        var companyname = Request.Form["name"];
        var contactname = Request.Form["email"];
        var employeecount = Request.Form["bericht"];

        if (Validation.IsValid())
        {
            SendMail.SendEmail(companyname, contactname, employeecount);
        }
    }
}
<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <!-- start commission bar -->
        <article class="commission-bar">
            <div class="centering">
                <aside class="image">
                    <a><img src="images/commision_img.jpg" alt="" /></a>
                </aside>
                <div class="management">
                    <h4>Pakket Offerte & Voorraad</h4>
                    <div class="merge">
                        <div class="para">
                            <p>Een klant doet een bestelling, maar bij het verwerken van de order blijkt het product niet op voorraad te zijn. In het voorraadbeheersysteem staat dat het product er wel had moeten zijn. Je collega die weet welk product bij welke leverancier wordt besteld, is op vakantie. Kortom: het voorraadbeheer is niet goed georganiseerd en het kost iedereen tijd. Met als eindresultaat een klant die te lang moet wachten op een bestelling. Zonde, want het is juist heel eenvoudig om offertes, orders en voorraadbeheer op orde te hebben!</p>
                        </div>
                        <div class="left">
                            <div class="para">
                                <p>Met het professionele online business software pakket Offerte & Voorraad van Hybrid SaaS weet je zeker dat je voortaan geen zorgen meer hebt over offertes, orders en inkoop- en voorraadbeheer. Het ervaren en gedreven team van Hybrid SaaS heeft krachtige software ontwikkeld die precies doet wat jij wilt. Wij steven naar perfectie en constante verbetering  van onze producten zodat jij altijd overzicht en inzicht hebt. </p>
                            </div>
                        </div>
                        <div class="right">
                            <div class="para">
                                <p>Hybrid SaaS is een Nederlands product, gebaseerd op Nederlandse business logica met een professionele Nederlandse klantenservice. Bij ons hoef je niet bang te zijn voor vervelende verrassingen. We communiceren graag met onze klanten in heldere taal en vragen een eerlijke, betaalbare prijs voor onze producten.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- end commission bar -->
        <article class="software-bar">
            <div class="centering">
                <div class="text">
                    <h2>De unieke voordelen van<br>Pakket Offerte & Voorraad </h2>
                    <ul>
                        <li>
                            <img src="images/softaware_img1.png" alt="" />
                            <h3>Snel</h3>
                            <p>Van order tot uitlevering, voorraadbeheer en verwerking, alles komt samen. </p>
                        </li>
                        <li>
                            <img src="images/softaware_img2.png" alt="" />
                            <h3>Innovatief</h3>
                            <p>Eenvoudig producten toevoegen aan orders vanuit de voorraad . </p>
                        </li>
                        <li>
                            <img src="images/softaware_img3.png" alt="" />
                            <h3>Slim</h3>
                            <p>Makkelijk en slim serienummers, facturen en garantiegegevens aan klanten koppelen. </p>
                        </li>
                        <li>
                            <img src="images/softaware_img4.png" alt="" />
                            <h3>Gemak</h3>
                            <p>Offerte opvolging overzichtelijk via duidelijke workflow op het dashboard.</p>
                        </li>
                    </ul>
                    <ul></ul>
                    <h2>Wat krijg je als je aan de slag gaat met<br>Pakket Offerte & Voorraad</h2>
                    <ul></ul>
                    <ul>
                        <li>
                            <img src="images/softaware_img1.png" alt="" />
                            <h3>Organiseren</h3>
                            <p>Een veelzijdig en handig systeem om offertes, orders, voorraad en inkoop te organiseren.</p>
                        </li>
                        <li>
                            <img src="images/softaware_img2.png" alt="" />
                            <h3>Personaliseren</h3>
                            <p>Orders en offertes personaliseren en opmaken in huisstijl. </p>
                        </li>
                        <li>
                            <img src="images/softaware_img3.png" alt="" />
                            <h3>Assortiment</h3>
                            <p>Assortiment vastleggen en up to date houden met de module productbeheer. </p>
                        </li>
                    </ul>
                </div>
                <article class="solution-bar" id="module">
                    <aside class="fill">
                        <div class="satisfy">
                            <span>Welke modules zitten er standaard inbegrepen in dit pakket?</span>
                            <span>
                                Relatiebeheer, Ticketsysteem, Tijdregistratie, Facturatie, Projectbeheer, Prepaidkaarten, Wachtwoordbeheer, Notities, Offertes en orders, Productenbeheer, Voorraadbeheer,
                                Inkooporder beheer, CRM, Financiele export naar extern pakket, Export naar externe boekhouding, Export naar Excel, Outlook add-in, Extranet, 1 Gebruiker, 10 GB dataopslag
                            </span>
                        </div>
                    </aside>
                </article>
            </div>
        </article>
        <section id="content-part">
            <!-- start centerpart -->
            <section id="center-part">
                <!-- start boxdetail bar -->
                <article class="boxdetail-bar">
                    <div class="centering">
                        <aside class="ticket">
                            <div class="common pak2">
                                <img src="images/ticket_icon2a.png" alt="" />
                                <a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)"><h3>Pakket Tickets & Facturatie</h3></a>
                                <h4>Standaard inbegrepen:</h4>
                                <div class="stand">
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.Relatiebeheer)">Relatiebeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.TicketSysteem)">Ticketsysteem</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Tijdregistratie)">Tijdregistratie </a></li>
                                        <li><a href="@LinkList.GetLink(Link.Facturatie)">Facturatie</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Projectbeheer)">Projectbeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Prepaidkaarten)">Prepaidkaarten</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Wachtwoordbeheer)">Wachtwoordbeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Notities)">Notities</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.CRM)">CRM</a></li>
                                        <li><a href="@LinkList.GetLink(Link.ExportExternPakket)">Financiele export naar extern pakket</a></li>
                                        <li><a href="@LinkList.GetLink(Link.ExportBoekhouding)">Export naar externe boekhouding</a></li>
                                        <li><a href="@LinkList.GetLink(Link.ExportExcel)">Export naar Excel</a></li>

                                    </ul>
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.OutlookAddIn)">Outlook add-in</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Extranet)">Extranet</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Gebruiker)">1 Gebruiker</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Dataopslag)">1 GB dataopslag</a></li>
                                    </ul>
                                </div>
                                <div class="outlook">
                                    <ul>
                                        <li><a></a></li>
                                        <li><a><img src="images/outlook_img2.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img3.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img4.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img5.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img1.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img2.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img3.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img4.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img5.png" alt="" /></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="common pak1">
                                <img src="images/ticket_icon1.png" alt="" />
                                <a href="@LinkList.GetLink(Link.PakketContactbeheer)"><h3>Pakket Contractbeheer</h3></a>
                                <h4>Standaard inbegrepen:</h4>
                                <div class="stand">
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.Relatiebeheer)">Relatiebeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Facturatie)">Facturatie</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Wachtwoordbeheer)">Wachtwoordbeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Notities)">Notities</a></li>
                                        <li><a href="@LinkList.GetLink(Link.CRM)">CRM</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.ExportExternPakket)">Financiele export naar extern pakket</a>
                                        </li>
                                        <li><a href="@LinkList.GetLink(Link.ExportBoekhouding)">Export naar externe boekhouding</a></li>
                                        <li><a href="@LinkList.GetLink(Link.ExportExcel)">Export naar Excel</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.Extranet)">Extranet</a></li>
                                        <li><a href="@LinkList.GetLink(Link.OutlookAddIn)">Outlook add-in</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Gebruiker)">1 Gebruiker</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Dataopslag)">1 GB dataopslag</a></li>
                                    </ul>
                                </div>
                                <div class="outlook">
                                    <ul>
                                        <li><a><img src="images/outlook_img1.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img2.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img3.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img4.png" alt="" /></a></li>
                                        <li><a><img src="images/outlook_img5.png" alt="" /></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="common pak3">
                                <img src="images/ticket_icon3a.png" alt=""/>
                                <a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)"><h3>Pakket Offerte & Voorraad</h3></a>
                                <h4>Standaard inbegrepen:</h4>
                                <div class="stand">
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.Relatiebeheer)">Relatiebeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.TicketSysteem)">Ticketsysteem</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Tijdregistratie)">Tijdregistratie </a></li>
                                        <li><a href="@LinkList.GetLink(Link.Facturatie)">Facturatie</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Productenbeheer)">Projectbeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Prepaidkaarten)">Prepaidkaarten</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Wachtwoordbeheer)">Wachtwoordbeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Notities)">Notities</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.OffertesOrders)">Offertes en orders</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Projectbeheer)">Productenbeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Voorraadbeheer)">Voorraadbeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Inkooporderbeheer)">Inkooporder beheer</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.CRM)">CRM</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Financieel)">Financiele export naar extern pakket</a></li>
                                        <li><a href="@LinkList.GetLink(Link.ExportBoekhouding)">Export naar externe boekhouding</a></li>
                                        <li><a href="@LinkList.GetLink(Link.ExportExcel)">Export naar Excel</a></li>

                                    </ul>
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.OutlookAddIn)">Outlook add-in</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Extranet)">Extranet</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Gebruiker)">1 Gebruiker</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Dataopslag)">10 GB dataopslag</a></li>
                                    </ul>
                                </div>
                                <div class="outlook">
                                    <ul>
                                        <li><img src="images/outlook_img1.png" alt="" /></li>
                                        <li><img src="images/outlook_img2.png" alt="" /></li>
                                        <li><img src="images/outlook_img3.png" alt="" /></li>
                                        <li><img src="images/outlook_img4.png" alt="" /></li>
                                        <li><img src="images/outlook_img5.png" alt="" /></li>
                                        <li><img src="images/outlook_img1.png" alt="" /></li>
                                        <li><img src="images/outlook_img2.png" alt="" /></li>
                                        <li><img src="images/outlook_img3.png" alt="" /></li>
                                        <li><img src="images/outlook_img4.png" alt="" /></li>
                                        <li><img src="images/outlook_img5.png" alt="" /></li>
                                        <li><img src="images/outlook_img4.png" alt="" /></li>
                                        <li><img src="images/outlook_img5.png" alt="" /></li>
                                        <li><img src="images/outlook_img1.png" alt="" /></li>
                                        <li><img src="images/outlook_img2.png" alt="" /></li>
                                        <li><img src="images/outlook_img3.png" alt="" /></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </article>
                <!-- end boxdetail bar -->
            </section>
            <!-- end center part -->
        </section>
        <article class="connecting-bar">
            <!-- start commission bar -->
            <article class="commission-bar">
                <div class="centering">
                    <div class="management">
                        <h2>De unieke voordelen van Offerte & Voorraad</h2>
                        <div class="merge2">
                            <div class="para">
                                <p><b>Maak gebruik van smartphone en tablet</b></p>
                                <p>Wij snappen dat je niet altijd achter een computer zit. Daarom hebben we een extern online portaal gemaakt. Zo kun je ook met je smartphone of tablet gebruik maken van Hybrid SaaS online business software. Tijd registreren, offertes en orders aanmaken, werkbonnen invullen of actuele relatiegegevens inzien: het kan allemaal ook onderweg.  </p>


                                <p><b>Maak offertes en orders in een handomdraai</b></p>
                                <p>Offertes en orders aanmaken was nog nooit zo makkelijk. Gebruik een standaard sjabloon, eventueel aangepast aan de eigen huisstijl van de organisatie. Binnen de standaard sjablonen is het mogelijk om persoonlijke informatie toe te voegen. Vanuit het systeem verstuur je offertes eenvoudig per e-mail. Belangrijke documenten voeg je direct toe. De offertes en orders worden automatisch gekoppeld aan de andere gegevens die je al van de klant hebt. Het is mogelijk om per product opstart- en eenmalige kosten bij te houden. </p>

                                <p><b>Voeg producten toe aan orders en houd direct de voorraad up to date</b></p>
                                <p>Op verschillende momenten in het orderproces is het makkelijk om producten toe te voegen aan de order. Voeg je producten toe aan orders, dan wordt de voorraad automatisch bijgewerkt. Heb je voor een order een of meerdere bestellingen moeten doen? De order komt vanzelf voorbij in de workflow als een of meerdere producten geleverd zijn. Zo kun je bijvoorbeeld besluiten wanneer het een slim moment is om een deellevering te doen.  </p>

                                <p><b>Weet wat je verkoopt</b></p>
                                <p>Zorg dat het assortiment altijd up to date is in de module productbeheer. Leg zoveel gegevens vast als je wilt. Van alleen de basisgegevens tot serienummers, belangrijke details en andere bijzonderheden, je kiest zelf hoeveel je vastlegt. Het is ook mogelijk om relaties tussen producten vast te leggen. Weten wat je verkoopt is essentieel om de voorraad te beheren en uiteindelijk de klanten op tijd van de juiste producten te voorzien. </p>

                                <p><b>Weet wat je in huis hebt en haalt</b></p>
                                <p>Heb je akkoord op een offerte en maak je een order aan? Je ziet gelijk wat de status is van de opgevraagde producten. Zo kun je zien of het product op voorraad is en of het product ook 'vrij' is (niet gereserveerd voor een andere klant). Is een product niet op voorraad? Dan maak je direct een inkooporder aan. Je hebt inzicht in de leveranciers, levertijden, bestelmomenten en bestelgroottes. Werk je op een later moment de voorraad bij, dan komt de bestelling die wachtte op een product, vanzelf weer naar boven via de workflow op het dashboard. Ook heb je altijd inzicht in kortingen, marges en productranges. </p>
                                

                                <p><b>Werk de voorraad bij na een levering </b></p>
                                <p>Ontvang je nieuwe voorraad, dan werk de je voorraad eenvoudig bij door de productnummers te scannen of handmatig in te voeren. Wil je daarna meteen orders verzenden? Print direct vanuit het systeem een handige picklijst. </p>
                                

                                <p><b>Altijd actuele managementinformatie bij de hand</b></p>
                                <p>In de managementrapporten vind je bijvoorbeeld waardevolle informatie over de orderwaarde, maar ook over de inkoop- en verkoopwaarde van de voorraad. </p>
                                

                                <p><b>Weet alles over je relaties</b></p>
                                <p>Leg alle gegevens van klanten, leveranciers en partners vast. Weet precies wat er bij je relaties speelt. Of het nu gaat om het aantal openstaande tickets of de verjaardag van je beste klant, jij hebt inzicht.</p>
                                

                                <p><b>Maak gebruik van smartphone en tablet</b></p>
                                <p>Wij snappen dat je niet altijd achter een computer zit. Daarom hebben we een extern online portaal gemaakt. Zo kun je ook met je smartphone of tablet gebruik maken van Hybrid SaaS online business software. Tijd registreren, offertes en orders aanmaken, werkbonnen invullen of actuele relatiegegevens inzien: het kan allemaal ook onderweg.  </p>
                                

                                <p><b>Online 24/7 Klantportaal</b></p>
                                <p>Bied je klanten de mogelijkheid om online contact te houden met je organisatie. In het online 24/7 klantportaal zien ze offertes, orders en (openstaande) facturen in. Deze kunnen klanten ook downloaden. Dit betekent meer inzicht voor de klant, minder e-mails en telefoontjes voor jou. </p>
                                

                                <p><b>Prepaidkaarten en Strippenkaarten</b></p>
                                <p>Verstuur je facturen voor diensten die je in de toekomst gaat uitvoeren? Daar hebben wij een handige oplossing voor. Aan de hand van de facturen die je stuurt, bouwen je klanten een saldo op. Op basis van de werktijd die jij registreert worden deze van het opgebouwde saldo gehaald. Jij en je klanten hebben altijd inzicht in het openstaande saldo. Heb je aan het eind van een periode te veel of te weinig in rekening gebracht, dan maak je met een druk een verrekening. </p>
                                

                                <p><b>Inzicht in projectafspraken</b></p>
                                <p>Leg projectafspraken zoals uurtarieven, maximale uurbesteding en werkverdeling vast. Verder krijg je inzicht in financiële marges, urenbesteding, tickets en nog veel meer.</p>
                                

                                <p><b>Veilig alle wachtwoorden opslaan</b></p>
                                <p>Beheer alle wachtwoorden van relaties op een centrale plaats. De wachtwoorden worden versleuteld opgeslagen, dus je kunt erop vertrouwen dat ze veilig zijn. </p>
                                

                                <p><b>Koppel Hybrid SaaS aan je eigen administratiesysteem	 </b></p>
                                <p>Het kan natuurlijk dat je al een administratiesysteem gebruikt waar je tevreden over bent, of waar je accountant de voorkeur aangeeft. Dat is geen enkel probleem. Hybrid SaaS heeft koppelingen met onder andere Exact, Unit4, Accountview en Snelstart. </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </article>
        <article class="connecting-bar">
            <div class="centering">
                <div class="merge">
                    <div class="module">
                        <h3>Aanvullende modules en pakketten</h3>
                        <p>Mis je nog iets? Breid je pakket eenvoudig uit met de volgende modules en pakketten</p>
                        <p>Benieuwd naar de prijzen? Download prijslijst</p>
                        <div class="pakket">
                            <h4>Aanvullend pakket (maandelijks)</h4>
                            <ul>
                                <li>
                                    <img src="images/connencting_img1.png" alt="" />
                                    <h5>Webshop</h5>
                                    <a href=" @LinkList.GetLink(Link.Webshop)">Meer info</a>
                                </li>
                                <li>
                                    <img src="images/connencting_img2.png" alt="" />
                                    <h5>Commissie</h5>
                                    <a href="@LinkList.GetLink(Link.Commisie)">Meer info</a>
                                </li>
                                <li>
                                    <img src="images/connencting_img3.png" alt="" />
                                    <h5>FINANCIEEL</h5>
                                    <a href="@LinkList.GetLink(Link.Financieel)">Meer info</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form">
                        <h4>Interesse in deze module of een opmerking? Stuur ons een bericht.</h4>
                        <form action="#">
                            <input type="text" value="Naam" onFocus="if(this.value=='Naam')this.value='';" onBlur="if(this.value=='')this.value='Naam';" />
                            <input type="text" value="E-mail" onFocus="if(this.value=='E-mail')this.value='';" onBlur="if(this.value=='')this.value='E-mail';" />
                            <textarea cols="15" rows="5" onFocus="if(this.value=='Bericht')this.value='';" onBlur="if(this.value=='')this.value='Bericht';">Bericht</textarea>
                            <input type="submit" value="VERSTUur" />
                        </form>
                    </div>
                </div>
            </div>
        </article>
        <article class="paket-bar" id="paket">
            <div class="centering">
                <div class="text">
                    <aside class="ticket">
                        <div class="common pak1">
                            <img src="images/ticket_icon1.png" alt="" />
                            <h3>Pakket <span>CONTRACTBEHEER</span></h3>
                            <cite>&euro;125,- per maand</cite>
                            <a href="@LinkList.GetLink(Link.PakketContactbeheer)" class="detail">DETAILs</a>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketContactbeheer)">Relatiebeheer</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketContactbeheer)">Facturatie</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketContactbeheer)">Export naar externe boekhouding</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketContactbeheer)">Notities</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketContactbeheer)">1 Gebruiker</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketContactbeheer)">1 GB dataopslag</a></li>
                            </ul>
                        </div>

                        <div class="common pak2">
                            <img src="images/ticket_icon2.png" alt="" />
                            <h3>Pakket <span>TICKETS + FACTURATIE</span></h3>
                            <cite>&euro;250,- per maand</cite>
                            <a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)" class="detail">DETAILs</a>
                            <ul>
                                <li><a href="#">Relatiebeheer</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)">Ticketsysteem</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)">Tijdregistratie</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)">Facturatie</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)">Projectbeheer</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)">Prepaidkaarten</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)">Wachtwoordbeheer</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)">Notities</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)">Outlook add-in</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)">Extranet</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)">Export naar externe boekhouding</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)">1 Gebruiker</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketTicketsFacturatie)">1 GB dataopslag</a></li>
                            </ul>
                        </div>

                        <div class="common pak3">
                            <img src="images/ticket_icon3.png" alt="" />
                            <h3>Pakket <span>TICKETS + FACTURATIE +  OFFERTE + VOORRAAD</span></h3>
                            <cite>&euro;300,- per maand</cite>
                            <a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)" class="detail">DETAILs</a>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Relatiebeheer</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Ticketsysteem</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Tijdregistratie</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Facturatie</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Projectbeheer</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Prepaidkaarten</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Wachtwoordbeheer</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Notities</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Outlook add-in</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Extranet</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Export naar externe boekhouding</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Offertes en orders</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Productenbeheer</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Voorraadbeheer</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Inkooporder beheer</a></li>
                            </ul>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">1 Gebruiker</a></li>
                                <li><a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">1 GB dataopslag</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </article>
    </section>
</section>