@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}
<!-- start slider -->
<section id="slider-part">

    <!-- start slider bar -->
    <article class="slider-bar">
        <div class="flexslider subflex">

            <ul class="">
                <li><img src="images/slider_img3.png" alt="" /></li>
            </ul>

            <div class="header">
                <div class="centering">
                    <h2><font color="blue">Pakket ERP</font></h2>
                </div>
            </div>

        </div>
    </article>
    <!-- end slider bar -->
</section>
<!-- start content -->
<section id="content-part">

    <!-- start centerpart -->
    <section id="center-part">

        <!-- end slider -->
        <!-- start ticketsen bar-->
        <div class="ticketsen-bar">
            <div class="centering">
                <h4><img src="images/ticket_icon3.png" alt=""><span><font color="blue">Pakket ERP</font></span></h4>
                <p>Pakket ERP</p>

                <div class="Left parah">
                    <p>Pakket ERP</p>
                </div>

                <div class="Right parah">
                    <p>Pakket Kwaliteitscontrolle</p>
                    <a href="@LinkList.GetLink(Link.pijzenljst)">Benieuwd naar de prijzen? Download prijslijst</a>
                </div>
                <div class="clear"></div>

                <a href="#"><span>Wat krijg je als je aan de slag gaat met ERP</span> </a>
                <a href="#"><span>Welke functionaliteiten biedt ERP</span> </a>
            </div>
        </div>
        <!-- start voordelen-->
        <div class="voordelen">
            <div class="centering">
                <h3>De unieke voordelen van ERP</h3>

                <div class="servicebox">
                    <div class="pannel">
                        <img alt="" src="images/advantage_img7.png" />
                        <h6>alles in een</h6>
                        <p>ERP</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img8.png" />
                        <h6>Overzichtelijk</h6>
                        <p>ERP</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img9.png" />
                        <h6>Integratie</h6>
                        <p>ERP</p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="servicebox">
                    <div class="pannel">
                        <img alt="" src="images/advantage_img10.png" />
                        <h6>Support</h6>
                        <p>Online meertalig klantportaal, realtime 24/7 overal ter wereld</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img11.png" />
                        <h6>Custom look</h6>
                        <p>Volledig in je eigen huisstijl</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img12.png" />
                        <h6>Flexibel</h6>
                        <p>Geen langlopende contracten. Wij hebben vertrouwen in ons product, dus mag jij maandelijks je abonnement aanpassen</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- ends voordelen-->
        <!-- start nieuws bar -->
        <div class="nieuws-bar">
            <h2>Nieuwsgierig geworden wat wij voor jou kunnen betekenen? Vraag nu onze live demo aan</h2>
            <h3>Wat krijg je als je aan de slag gaat met Pakket ERP </h3>
            <ul class="support">
                <li>
                    <img alt="" src="images/support_img5.png">
                    <a href="#">Relatiebeheer</a>
                </li>
                <li>
                    <img alt="" src="images/support_img6.png">
                    <a href="#">Tijdregistratie</a>
                </li>
                <li>
                    <img alt="" src="images/support_img7.png">
                    <a href="#">Ticketsysteem</a>
                </li>
            </ul>
        </div>
        <section id="content-part">
            <!-- start centerpart -->
            <section id="center-part">
                <!-- start boxdetail bar -->
                <article class="boxdetail-bar" style="margin: initial">
                    <div class="centering">
                        <aside class="ticket">
                            <div class="common pak3" style="padding:0px 0 57px">
                                <h4>Standaard inbegrepen:</h4>
                                <div class="stand">
                                    <ul>
                                        <li><div class="imgs"><img alt="" src="images/modules_img6.png"></div><a href="@LinkList.GetLink(Link.Relatiebeheer)" title="@LinkList.GetTitle(Link.Relatiebeheer)">Relatiebeheer</a></li>
                                        <li><div class="imgs"><img alt="" src="images/modules_img1.png"></div><a href="@LinkList.GetLink(Link.Projectbeheer)">Projectbeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.TicketSysteem)" title="@LinkList.GetTitle(Link.TicketSysteem)">Ticketsysteem</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.Tijdregistratie)" title="@LinkList.GetTitle(Link.Tijdregistratie)">Tijdregistratie</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Prognosebeheer)" title="@LinkList.GetTitle(Link.Prognosebeheer)">Prognosebeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Termijnstatenbeheer)" title="@LinkList.GetTitle(Link.Termijnstatenbeheer)">Termijnstatenbeheer</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.VragenlijstenEquettes)" title="@LinkList.GetTitle(Link.VragenlijstenEquettes)">Vragenlijsten</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Meerwerk)" title="@LinkList.GetTitle(Link.Meerwerk)">Meerwerk</a></li>
                                        <li><div class="imgs"><img alt="" src="images/modules_img5.png"></div><a href="@LinkList.GetLink(Link.Extranet)">Extranet</a></li>

                                    </ul>
                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.GebruikerIntern)" title="@LinkList.GetTitle(Link.GebruikerIntern)">10 Gebruiker</a></li>
                                        <li><div class="imgs"><img alt="" src="images/modules_img9.png"></div><a href="@LinkList.GetLink(Link.Dataopslag)">10 GB dataopslag</a></li>
                                    </ul>
                                    <cite>&euro; 500,- per maand</cite>
                                </div>
                            </div>
                        </aside>
                    </div>
                </article>
                <!-- end boxdetail bar -->
            </section>
            <!-- end center part -->

            <article class="connecting-bar" style="margin:initial">
                <!-- start welke-bar -->
                <div class="welke-bar">
                    <div class="centering">
                        <h3>Welke functionaliteiten biedt<br>Pakket ERP</h3>
                        <h5>Pakket ERP</h5>
                        <p>Pakket ERP</p><br />


                        <h5>Pakket ERP</h5>
                        <p>Pakket ERP</p><br />

                        <h5>Pakket ERP</h5>
                        <p>Pakket ERP</p><br />

                        <h5>Pakket ERP</h5>
                        <p>Pakket ERP</p><br />

                        <h5>Pakket ERP</h5>
                        <p>Pakket ERP</p><br />
                    </div>
                </div>
            </article>
            <!-- ends welke-bar -->
            <!-- start connecting bar -->
            <        <article class="connecting-bar" style="margin:initial">
                <div class="centering">
                    <div class="merge">
                        <div class="module">
                            <h3>Aansluitende modules</h3>
                            <p class="misjenog">Mis je nog iets? Breid je pakket eenvoudig uit met de volgende modules.</p>
                            <div class="pakket">
                                <ul>
                                    <li>
                                        <img src="images/connencting_img1.png" alt="" />
                                        <h5>Facturatie</h5>
                                        <a href=" @LinkList.GetLink(Link.Facturatie)">Meer info</a>
                                    </li>
                                    <li>
                                        <img src="images/connencting_img2.png" alt="" />
                                        <h5>Commissiebeheer</h5>
                                        <a href="@LinkList.GetLink(Link.pakketCommisiebeheer)">Meer info</a>
                                    </li>
                                    <li>
                                        <img src="images/connencting_img3.png" alt="" />
                                        <h5>Financieel</h5>
                                        <a href="@LinkList.GetLink(Link.Financieel)">Meer info</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form">
                            <h4>Interesse in deze module of een opmerking? Stuur ons een bericht.</h4>
                            <form action="#">
                                <input type="text" value="Naam" onFocus="if(this.value=='Naam')this.value='';" onBlur="if(this.value=='')this.value='Naam';" />
                                <input type="text" value="E-mail" onFocus="if(this.value=='E-mail')this.value='';" onBlur="if(this.value=='')this.value='E-mail';" />
                                <textarea cols="15" rows="5" onFocus="if(this.value=='Bericht')this.value='';" onBlur="if(this.value=='')this.value='Bericht';">Bericht</textarea>
                                <input class="submt" type="submit" value="VERSTUur" />
                            </form>
                        </div>
                    </div>
                </div>
            </article>
            <!-- end connecting bar -->
