
@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}
<!-- start slider -->
<section id="slider-part">

    <!-- start slider bar -->
    <article class="slider-bar">
        <div class="flexslider subflex">

            <ul class="">
                <li><img src="images/slider_img3.png" alt="" /></li>
            </ul>

            <div class="header">
                <div class="centering">
                    <h2>@LinkList.GetQuote(Link.PakketContractbeheer)</h2>
                </div>
            </div>

        </div>
    </article>
    <!-- end slider bar -->
</section>
<!-- start content -->
<section id="content-part"></section>
<!-- start centerpart -->
<section id="center-part"></section>
<!-- end slider -->
<!-- start ticketsen bar-->
<div class="ticketsen-bar">
    <div class="centering">
        <table>
            <tr>
                <td><img src="@LinkList.GetImage(Link.PakketContractbeheer)" title="@LinkList.GetLinkName(Link.PakketContractbeheer)" /></td>
            </tr>
            <tr>
                <td><h4>@LinkList.GetLinkName(Link.PakketContractbeheer)</h4></td>
            </tr>
        </table>
        <p>@LinkList.GetTitle(Link.PakketContractbeheer)</p>

        <div class="Left parah">
            <p>@LinkList.GetDescription(Link.PakketContractbeheer)</p>
        </div>

        <div class="Right parah">
            <p>@LinkList.GetDescriptionRight(Link.PakketContractbeheer)</p>
            <a target="_blank" href="@LinkList.GetLink(Link.prijslijst)">Benieuwd naar de prijzen? Download prijslijst</a>
        </div>
        <div class="clear"></div>

        <a href="#aandeslag"><span>Wat krijg je als je aan de slag gaat met @LinkList.GetLinkName(Link.PakketContractbeheer)?</span> </a>
        <a href="#functionaliteiten"><span>Welke functionaliteiten biedt @LinkList.GetLinkName(Link.PakketContractbeheer)?</span> </a>
    </div>
</div>
<!-- start ticketsen bar-->
<!-- start voordelen-->
<div class="voordelen">
    <div class="centering">
        <h3>De unieke voordelen van @LinkList.GetLinkName(Link.PakketContractbeheer)</h3>

        <div class="servicebox">
            <div class="pannel">
                <img alt="" src="images/advantage_img7.png" />
                <h6>Overzicht</h6>
                <p>Chronologisch overzicht van de lopende contracten</p>
            </div>
            <div class="pannel">
                <img alt="" src="images/advantage_img8.png" />
                <h6>Inzicht</h6>
                <p>Verwachte inkomsten en uitgaven netjes op een rij</p>
            </div>
            <div class="pannel">
                <img alt="" src="images/advantage_img9.png" />
                <h6>Personaliseren en standaardiseren</h6>
                <p>Snel contracten aanmaken met standaard gepersonaliseerde template</p>
            </div>
        </div>
        <div class="clear"></div>

        <div class="servicebox">
            <div class="pannel">
                <img alt="" src="images/advantage_img10.png" />
                <h6>Beheer op één plek</h6>
                <p>Bewaar documentatie bij het contract </p>
            </div>
            <div class="pannel">
                <img alt="" src="images/advantage_img11.png" />
                <h6>Koppelen</h6>
                <p>Slimme koppeling met inkoopfacturen </p>
            </div>
            <div class="pannel">
                <img alt="" src="images/advantage_img12.png" />
                <h6>1001 mogelijkheden</h6>
                <p>Denk aan splitsing maandelijkse en vaste kosten, versnipperde maanden factureren</p>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<!-- ends voordelen-->
<!-- start nieuws bar -->
<div class="nieuws-bar">
    <h2>Nieuwsgierig geworden wat wij voor jou kunnen betekenen? Vraag nu onze live demo aan</h2>
    <a name="aandeslag"></a>
    <h3>Wat krijg je als je aan de slag gaat met @LinkList.GetLinkName(Link.PakketContractbeheer)</h3>
    <ul class="support">
        <li>
            <img src="@LinkList.GetBigImages(Link.Relatiebeheer)" title="@LinkList.GetLinkName(Link.Relatiebeheer)" />
            <a href="@LinkList.GetLink(Link.Relatiebeheer)" title="@LinkList.GetTitle(Link.Relatiebeheer)">@LinkList.GetLinkName(Link.Relatiebeheer)</a>
        </li>
        <li>
            <img src="@LinkList.GetBigImages(Link.Facturatie)" title="@LinkList.GetLinkName(Link.Facturatie)" />
            <a href="@LinkList.GetLink(Link.Facturatie)" title="@LinkList.GetTitle(Link.Facturatie)">@LinkList.GetLinkName(Link.Facturatie)</a>
        </li>
    </ul>
</div>
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <!-- start boxdetail bar -->
        <article class="boxdetail-bar" style="margin: initial">
            <div class="centering">
                <aside class="ticket">
                    <div class="common pak3" style="padding:0px 0 57px">
                        <h4>Standaard inbegrepen:</h4>
                        <div class="stand">
                            <ul>
                                <li><img src="@LinkList.GetImage(Link.Relatiebeheer)" title=" @LinkList.GetTitle(Link.Relatiebeheer) " /><a href=" @LinkList.GetLink(Link.Relatiebeheer) " title=" @LinkList.GetTitle(Link.Relatiebeheer) ">@LinkList.GetLinkName(Link.Relatiebeheer)</a></li>
                                <li><img src="@LinkList.GetImage(Link.Facturatie)" title=" @LinkList.GetTitle(Link.Facturatie) " /><a href="@LinkList.GetLink(Link.Facturatie)" title="@LinkList.GetTitle(Link.Facturatie)">@LinkList.GetLinkName(Link.Facturatie)</a></li>
                                <li><img src="@LinkList.GetImage(Link.Notities)" title=" @LinkList.GetTitle(Link.Notities) " /><a href="@LinkList.GetLink(Link.Notities)" title="@LinkList.GetTitle(Link.Notities)">@LinkList.GetLinkName(Link.Notities)</a></li>
                            </ul>
                            <ul>
                                <li><img src="@LinkList.GetImage(Link.Extranet)" title=" @LinkList.GetTitle(Link.Extranet) " /><a href=" @LinkList.GetLink(Link.Extranet) " title=" @LinkList.GetTitle(Link.Extranet) ">@LinkList.GetLinkName(Link.Extranet)</a></li>
                                <li><img src="@LinkList.GetImage(Link.ExportExcel)" title=" @LinkList.GetTitle(Link.ExportExcel) " /><a href="@LinkList.GetLink(Link.ExportExcel)" title="@LinkList.GetTitle(Link.ExportExcel)">@LinkList.GetLinkName(Link.ExportExcel)</a></li>
                                <li><img src="@LinkList.GetImage(Link.GebruikerIntern)" title=" @LinkList.GetTitle(Link.GebruikerIntern) " /><a href="@LinkList.GetLink(Link.GebruikerIntern)" title="@LinkList.GetTitle(Link.GebruikerIntern)">@LinkList.GetLinkName(Link.GebruikerIntern)</a></li>
                                <li><img src="@LinkList.GetImage(Link.Dataopslag)" title=" @LinkList.GetTitle(Link.Dataopslag) " /><a href="@LinkList.GetLink(Link.Dataopslag)" title="@LinkList.GetTitle(Link.Dataopslag)">@LinkList.GetLinkName(Link.Dataopslag)</a></li>
                            </ul>
                            <cite>@LinkList.GetPrice(Link.PakketContractbeheer)</cite>
                        </div>
                    </div>
                </aside>
            </div>
        </article>
        <!-- end boxdetail bar -->
    </section>S
    <!-- end centerpart -->
</section>
<article class="connecting-bar" style="margin:initial">

    <!-- start welke-bar -->
    <div class="welke-bar">
        <div class="centering noborder">
            <a name="functionaliteiten"></a>
            <h3>Welke functionaliteiten biedt @LinkList.GetLinkName(Link.PakketContractbeheer)</h3>

            <h5>Weet alles over je relatiesPakket Contractbeheer</h5>
            <p>Leg alle gegevens van klanten, leveranciers en partners vast. Weet precies wat er bij je relaties speelt. Of het nu gaat om het aantal openstaande tickets of de verjaardag van je beste klant, jij hebt inzicht.</p>

            <h5>Digitaal factureren en herinneren</h5>
            <p>Verstuur je facturen digitaal en stuur in handomdraai herinneringen. Of je factuur nu handmatig, via een order, tijdregistratie, of contract tot stand komt, bij Hybrid SaaS ziet het er altijd professioneel uit. Maak contracten aan en factureer deze periodiek met één druk op de knop. Krijg meer inzicht in de openstaande facturen en het betalingsgedrag van je klanten. Staat een factuur te lang open? Dan stuur je met hetzelfde gemak een digitale betalingsherinnering. </p>

            <h5>Overzicht en inzicht </h5>
            <p>Houd het overzichtelijk voor jezelf. Sla documentatie en getekende overeenkomsten digitaal op bij het bijbehorende contract. Zo raak je nooit meer belangrijke documenten kwijt. Koppel inkoopcontracten van een klant aan de andere gegevens van de betreffende klant. Zo weet je altijd welke contracten er lopen en zeg je contracten op tijd op. Onze software zorgt ervoor dat je altijd een heldere planning beschikbaar hebt voor de nog te factureren contracten. Maken klanten gebruik van prepaidkaarten, dan koppel je deze aan de andere klantgegevens. </p>

            <h5>Templates personaliseren en standaardiseren</h5>
            <p>Maak makkelijk en snel standaard templates aan. Voor individuele klanten kunnen de templates eenvoudig aangepast worden indien nodig. De facturen verstuur je per stuk, of met honderden tegelijk. </p>

            <h5>Onderhoudscontracten en domeinnamen</h5>
            <p>Domeinnamen, internetverbindingen, online werkplekken of onderhoudscontracten; allemaal diensten die periodiek gefactureerd moeten worden. Stel eenmalig de lopende contracten in en zorg met één druk op de knop dat diensten bijvoorbeeld per maand, kwartaal of jaar worden gefactureerd. Alle contractstukken sla je veilig en digitaal op bij het contract zodat je deze altijd bij de hand hebt. Loopt een contract met één van je klanten af? Dan krijg je automatisch een melding om het inkoopcontract bij de leverancier stop te zetten.</p>

            <h5>Koppel Hybrid SaaS aan je eigen administratiesysteem	</h5>
            <p>Het kan natuurlijk dat je al een administratiesysteem gebruikt waar je tevreden over bent, of waar je accountant de voorkeur aangeeft. Dat is geen enkel probleem. Hybrid SaaS heeft koppelingen met </p>

        </div>
    </div>
</article>
<!-- ends welke-bar -->
<!-- start paket bar -->
<article class="connecting-bar" style="margin:initial">
    <div class="centering">
        <div class="merge">
            <div class="module">
                <h3>Aansluitende modules</h3>
                <p class="misjenog">Mis je nog iets? Bereid je pakket eenvoudig uit met de volgende modules.</p>
            </div>
        </div>
    </div>
    <article class="paket-bar" id="paket">
        <div class="centering">
            <div class="text">
                <article class="box-bar" style="border-bottom:initial"></article>
                <aside class="ticket">
                    <div class="common pak1" style="margin:0px 10px 10px 10px; width:22% ">
                        <img src="@LinkList.GetImage(Link.Webshop)" title="@LinkList.GetLinkName(Link.Webshop)" />
                        <h3>@LinkList.GetLinkName(Link.Webshop)</h3>
                        <br /><br /><br /><cite>@LinkList.GetPrice(Link.Webshop)</cite>
                        <a href="@LinkList.GetLink(Link.Webshop)" class="detail">Meer info</a>
                        <br /><br /><h6>@LinkList.GetQuote(Link.Webshop)</h6>
                    </div>
                    <div class="common pak1" style="margin:0px 10px 10px 10px; width:22% ">
                        <img src="@LinkList.GetImage(Link.Tijdregistratie)" title="@LinkList.GetLinkName(Link.Tijdregistratie)" />
                        <h3>@LinkList.GetLinkName(Link.Tijdregistratie)</h3>
                        <br /><br /><br /><cite>@LinkList.GetPrice(Link.Tijdregistratie)</cite>
                        <a href="@LinkList.GetLink(Link.Tijdregistratie)" class="detail">Meer info</a>
                        <br /><br /><h6>@LinkList.GetQuote(Link.Tijdregistratie)</h6>
                    </div>
                    <div class="common pak1" style="margin:0px 10px 10px 10px; width:22%">
                        <img src="@LinkList.GetImage(Link.Commissiebeheer)" title="@LinkList.GetLinkName(Link.Commissiebeheer)" />
                        <h3>@LinkList.GetLinkName(Link.Commissiebeheer)</h3>
                        <br /><br /><br /><cite>@LinkList.GetPrice(Link.Commissiebeheer)</cite>
                        <a href="@LinkList.GetLink(Link.Commissiebeheer)" class="detail">Meer info</a>
                        <br /><br /><h6>@LinkList.GetQuote(Link.Commissiebeheer)</h6>
                    </div>
                    <div class="common pak1" style="margin:0px 10px 10px 10px; width:22%">
                        <img src="@LinkList.GetImage(Link.MenuModules)" title="@LinkList.GetLinkName(Link.MenuModules)" />
                        <h3>@LinkList.GetLinkName(Link.MenuModules)</h3>
                        <br /><br /><br /><cite>@LinkList.GetPrice(Link.MenuModules)</cite>
                        <a href="@LinkList.GetLink(Link.MenuModules)" class="detail">Meer info</a>
                        <br /><br /><h6>@LinkList.GetQuote(Link.MenuModules)</h6>
                    </div>
                </aside>
            </div>
        </div>
    </article>
</article>
<!-- start paket bar -->
<!-- start connecting bar -->
@Content.ContactForm(false);
<!-- end connecting bar -->
