@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}
<!-- start slider -->
<section id="slider-part">

    <!-- start slider bar -->
    <article class="slider-bar">
        <div class="flexslider subflex">

            <ul class="">
                <li><img src="images/slider_img3.png" alt="" /></li>
            </ul>

            <div class="header">
                <div class="centering">
                    <h2><font color="ral 7008">Aanvullend Pakket Financeel</font></h2>
                </div>
            </div>

        </div>
    </article>
    <!-- end slider bar -->
</section>
<!-- start content -->
<section id="content-part"></section>
<!-- start centerpart -->
<section id="center-part"></section>
<!-- end slider -->
        <!-- start ticketsen bar-->
        <div class="ticketsen-bar">
            <div class="centering">
                <h4><img src="images/ticket_icon3.png" alt=""><span><font color="ral 7008">Aanvullend Pakket Financeel</font></span></h4>
                <p>Wil je het boekhoudproces nog slimmer inrichten? Kies dan ons pakket Financieel. Dit is de perfecte aanvulling op bijvoorbeeld Tickets & Facturatie of Offerte & Voorraad. </p>

                <div class="Left parah">
                    <p>Wij hebben zelf een boekhoudpakket ontwikkeld waarmee je eenvoudig digitaal online de complete boekhouding bijhoudt. Van het versturen van facturen tot een actueel overzicht in de balans, winst- en verliesrekening; dit pakket is zo ontworpen dat het voor 100% aansluit op de andere pakketten van Hybrid SaaS. </p>
                    <a href="@LinkList.GetLink(Link.prijslijst)">Benieuwd naar de prijzen? Download prijslijst</a>
                </div>
                <div class="clear"></div>

                <a href="#"><span>Wat krijg je als je aan de slag gaat met Financeel</span> </a>
                <a href="#"><span>Welke functionaliteiten biedt Financeel</span> </a>
            </div>
        </div>
        <!-- start ticketsen bar-->
        <!-- start voordelen-->
        <div class="voordelen">
            <div class="centering">
                <h3>De unieke voordelen van het<br>aanvullende pakket financieel</h3>

                <div class="servicebox">
                    <div class="pannel">
                        <img alt="" src="images/images/advantage_img7.png" />
                        <h6>Snel</h6>
                        <p>Geen apart administratiesysteem meer nodig</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img8.png" />
                        <h6>Innovatief</h6>
                        <p>Facturen worden eerder betaald doordat het debiteurenbeheer gestroomlijnd verloopt</p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img9.png" />
                        <h6>Slim</h6>
                        <p>Incasseer en betaal veilig en snel facturen</p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="servicebox">
                    <div class="pannel">
                        <img alt="" src="images/advantage_img10.png" />
                        <h6>Degelijk</h6>
                        <p>Werkt goed samen met andere pakketten van Hybrid SaaS. Koppel bijvoorbeeld de verkoop aan het ticketsysteem  </p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img11.png" />
                        <h6>Actueel</h6>
                        <p>Altijd een actueel overzicht in de financiële positie van het bedrijf </p>
                    </div>
                    <div class="pannel">
                        <img alt="" src="images/advantage_img12.png" />
                        <h6>Eenvoudig</h6>
                        <p>Eenvoudig inzicht en aanpassen van de balans, winst- en verliesrekening</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- ends voordelen-->
        <!-- start nieuws bar -->
        <div class="nieuws-bar">
            <h2>Nieuwsgierig geworden wat wij voor jou kunnen betekenen? Vraag nu onze live demo aan</h2>
            <h3>Wat krijg je als je aan de slag gaat met Aavullend pakket financieel</h3>
            <ul class="support">
                <li>
                    <img alt="" src="images/support_img5.png">
                    <a href="#">Facturatie</a>
                </li>
                <li>
                    <img alt="" src="images/support_img6.png">
                    <a href="#">Wachtwoordenbeheer</a>
                </li>
                <li>
                    <img alt="" src="images/support_img7.png">
                    <a href="#">Relatiebeheer</a>
                </li>
            </ul>
        </div>
        <section id="content-part">
            <!-- end nieuws bar -->
            <!-- start centerpart -->
            <section id="center-part">
                <!-- start boxdetail bar -->
                <article class="boxdetail-bar" style="margin: initial">
                    <div class="centering">
                        <aside class="ticket">
                            <div class="common pak3" style="padding:0px 0 57px">
                                <h4>Standaard inbegrepen:</h4>
                                <div class="stand">
                                    <ul>
                                        <li><div class="imgs"><img alt="" src="images/modules_img6.png"></div><a href="@LinkList.GetLink(Link.Relatiebeheer)" title="@LinkList.GetTitle(Link.Relatiebeheer)">Relatiebeheer</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Facturatie)">Facturatie</a></li>
                                        <li><div class="imgs"><img alt="" src="images/modules_img3.png"></div><a href="@LinkList.GetLink(Link.Wachtwoordbeheer)">Wachtwoordbeheer</a></li>
                                        <li><div class="imgs"><img alt="" src="images/modules_img7.png"></div><a href="@LinkList.GetLink(Link.Notities)">Notities</a></li>
                                        <li><a href="@LinkList.GetLink(Link.Crm)">CRM</a></li>
                                    </ul>

                                    <ul>
                                        <li><a href="@LinkList.GetLink(Link.ExportExternPakket)">Financiele export naar extern pakket</a></li>
                                        <li><div class="imgs"><img alt="" src="images/modules_img8.png"></div><a href="@LinkList.GetLink(Link.ExportBoekhouding)">Export naar externe boekhouding</a></li>
                                        <li><a href="@LinkList.GetLink(Link.ExportExcel)">Export naar Excel</a></li>
                                    </ul>

                                    <ul>
                                        <li><div class="imgs"><img alt="" src="images/modules_img5.png"></div><a href="@LinkList.GetLink(Link.Extranet)">Extranet</a></li>
                                        <li><div class="imgs"><img alt="" src="images/modules_img4.png"></div><a href="@LinkList.GetLink(Link.OutlookAddIn)">Outlook add-in</a></li>
                                        <li><a href="@LinkList.GetLink(Link.GebruikerIntern)">1 Gebruiker</a></li>
                                        <li><div class="imgs"><img alt="" src="images/modules_img9.png"></div><a href="@LinkList.GetLink(Link.Dataopslag)">10 GB dataopslag</a></li>
                                    </ul>
                                    <cite>&euro; 125,- per maand</cite>
                                </div>
                            </div>
                        </aside>
                    </div>
                </article>
                <!-- end boxdetail bar -->
            </section>
            <!-- end centerpart -->
        </section>
        <article class="connecting-bar" style="margin:initial">

            <!-- start welke-bar -->
            <div class="welke-bar">
                <div class="centering noborder">
                    <h3>Welke functionaliteiten biedt aanvullend pakket Financieel?</h3>
                    <h5>Houd debiteuren- en crediteurenbeheer overzichtelij</h5>
                    <p>Zie in één oogopslag de status van facturen en onderneem direct actie als dat nodig is. Sorteer de facturen op de manier die jij zelf handig vindt. Dit kan bijvoorbeeld op klant, maar ook op vervaldatum of aantal herinneringen. Hoe vaak en hoe snel een klant een herinnering moet ontvangen, leg je zelf vast in het systeem. </p><br />

                    <h5>Banktransacties inlezen</h5>
                    <p>Lees de banktransacties in en koppel ze eenvoudig aan openstaande verkoopfacturen. Het is ook mogelijk om incassobatches aan te maken. Het inlezen van banktransacties is ook handig voor de verwerking van inkoopfacturen. Zo kun je afschrijvingen direct koppelen aan de grootboekrekening of gegevens van inkoopfacturen automatisch gebruiken voor betalingen en incasso's. </p><br />

                    <h5>Stuur meerdere herinneringen tegelijk</h5>
                    <p>Zie je dat er meerdere facturen te lang openstaan? Stuur alle betrokkenen tegelijk een herinnering. Dat scheelt je veel tijd. </p><br />

                    <h5>Weet altijd alles over de financiële positie van je organisatie</h5>
                    <p>Met het Hybrid SaaS boekhoudpakket weet je zeker dat jou geen financiële verrassingen te wachten staan. Je kunt altijd zien hoe je ervoor staat door de balans, winst- en verliesrekening te openen. Mochten er gegevens ontbreken, dan krijg je hier een melding over. Zo kun je dit zelf aanpassen. Door op de verschillende posten van de rekeningen te klikken, krijg je alle informatie tot in detail te zien. Dit kan duidelijkheid scheppen of fouten aan het licht brengen. Is het tijd om de administratie naar de belasting te brengen? Dan kan jouw boekhouder met een eigen inlogcode de rekeningen controleren. Correcties aanbrengen kan direct in de rekening als dat nodig is. Daarna exporteer je het bestand naar Excel. </p><br />

                    <h5>Mis je nog iets? Breid je pakket eenvoudig uit met de volgende modules en pakketten</h5>
                    <p>Benieuwd naar de prijzen? <a style="font-size:17px; line-height:24px; color:#777;" href="@LinkList.GetLink(Link.prijslijst)">Download</a> prijslijst</p><br />
                </div>
            </div>
        </article>
        <!-- ends welke-bar -->
        <!-- start connecting bar -->
        <article class="connecting-bar" style="margin:initial">
            <div class="centering">
                <div class="merge">
                    <div class="module">
                        <h3>Te combineren op de pakketten</h3>
                        <p>Benieuwd naar de prijzen? <a style="font-size:17px; line-height:24px; color:#777;" href="@LinkList.GetLink(Link.prijslijst)">Download</a> prijslijst</p>
                        <div class="pakket">
                            <h4>Maandelijks</h4>
                            <ul>
                                <li>
                                    <img src="images/connencting_img1.png" alt="" />
                                    <h5>Pakket<br>Tickets<br>& Facturatie</h5>
                                    <a href=" @LinkList.GetLink(Link.PakketTicketsFacturatie)">Meer info</a>
                                </li>
                                <li>
                                    <img src="images/connencting_img2.png" alt="" />
                                    <h5>Pakket<br>Contractbeheer</h5>
                                    <a href="@LinkList.GetLink(Link.PakketContractbeheer)">Meer info</a>
                                </li>
                                <li>
                                    <img src="images/connencting_img3.png" alt="" />
                                    <h5>Pakket<br>Offerte<br>& Voorraad</h5>
                                    <a href="@LinkList.GetLink(Link.PakketOfferteVoorraad)">Meer info</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    @Content.ContactFormDemo();
                </div>
            </div>
        </article>
        <!-- end connecting bar -->
