@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";

}

        <!-- start slider -->
		<section id="slider-part">
			
            <!-- start slider bar -->
            <article class="slider-bar adding">
            	<div class="flexslider">
                
                    <ul class="">
                    	<li><img src="images/support_bg.jpg" alt="" /></li>
                    </ul>
                
                	<aside class="text space">
                    	<div class="centering">
                        	<h2>Wij staan voor je klaar</h2>
                            <p>Heb je een vraag of kom je ergens niet uit? Wij helpen je graag verder</p>
						</div>                            
                        <a href="@LinkList.GetLink(Link.MeestGesteldeVragen)" class="software">Meest gestelde vragen</a>
                    </aside>
                    
            	</div>
            </article>
            <!-- end slider bar -->

		</section>
		<!-- end slider -->


		
		<!-- start content -->
		<section id="content-part">

			<!-- start centerpart -->
			<section id="center-part">

				<!-- start about bar -->
				<article class="about-bar">
				<div class="centering">
                
					<h3>Met Hybrid SaaS heb je alles wat je nodig hebt om alle bedrijfsprocessen slim te organiseren. </h3>
                    
                    <aside class="left">
                    	<p>Van relatiebeheer, ticketsysteem tot het beheer van de voorraad en de facturatie. Je kiest zelf het pakket dat aansluit op jouw wensen, en voegt eventueel naar wens specifieke modules toe. </p>
                    </aside>
                    
                    <aside class="right">
                    	<p>Wij geloven dat onze klanten het systeem waarderen en werken daarom met een contract dat maandelijks opzegbaar is. Vanuit één centraal dashboard houd je makkelijk het overzicht.</p>
                    </aside>
                    
                    <div class="clear"></div>
<!-- start support bar -->
                <article class="support-bar" id="support">
                	
                	<div class="centering">
                		<div class="supportive">
                        
                            <h2>onze support<span></span></h2>
                            <aside class="support">
                                <div class="left">
                                    <ul>
                                        <li>
                                            <div class="image"><img src="images/support_img1.png" alt="" /></div>
                                            <div class="text">
                                                <h3>downloads</h3>
                                                <p><a href="@LinkList.GetLink(Link.BrowserDownload)">Hybrid SaaS Browser </a><br />
                                                <a href="@LinkList.GetLink(Link.WordAddDownload)">Hybrid SaaS Word add-in</a><br />
                                                <a href="@LinkList.GetLink(Link.OutlookAddDownload)">Hybrid SaaS Outlook add-in </a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="image"><img src="images/support_img3.png" alt="" /></div>
                                            <div class="text">
                                                <a href="@LinkList.GetLink(Link.Handleiding)"><h3>handleiding</h3></a>
                                                <p>Onze uitgebreide handleiding geeft inzicht in de werking van onze software.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="image"><img src="images/support_img3.png" alt="" /></div>
                                            <div class="text">
                                                <a href="@LinkList.GetLink(Link.KijkMetMijMee)"><h3>Kijk met mij mee</h3></a>
                                                <p>Wij kunnen op afstand meekijken op uw computer, gebruik deze optie om onze medewerkers toegang te geven tot uw pc.</p>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="right">
                                    <ul>
                                        <li>
                                            <div class="image"><img src="images/support_img2.png" alt="" /></div>
                                            <div class="text">
                                                <a href="@LinkList.GetLink(Link.InvoerTicket)"><h3>ticket systemen</h3></a>
                                                <p>Stel snel en gemakkelijk uw vraag online aan onze organisatie.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="image"><img src="images/support_img3.png" alt="" /></div>
                                            <div class="text">
                                                <a href="@LinkList.GetLink(Link.Contact)"><h3>helpdesk</h3></a>
                                                <p>Onze contact gegevens.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="image"><img src="images/support_img3.png" alt="" /></div>
                                            <div class="text">
                                                <a href="@LinkList.GetLink(Link.Handleiding)"><h3>Consultancy</h3></a>
                                                <p>Maak gebruik van onze jarenlange kennis als systeembeheerder, softwareontwikkelaar & bedrijfsautomatiseerder.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
							<span class="border"></span>
						</div>
	                </div>
                </article>
 <!-- end support bar -->
                </div>    
                <img src="images/about_img.jpg" alt="" class="ab_img" />
				</article>
				<!-- end about bar -->
                


				
			</section>
			<!-- end center part -->
			
		</section>
		<!-- end content -->
