@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}

<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <!-- start commission bar -->
        <article class="commission-bar">
            <div class="centering">
                <div class="management">
                    <div class="merge">
                        <table>
                            <tr>
                                <td><img alt="" src="@LinkList.GetImages(Link.Commissiebeheer)"></td>
                            </tr>
                            <tr>
                                <td><h4>@LinkList.GetLinkName(Link.Commissiebeheer)</h4></td>
                            </tr>
                        </table>
                        <!--Header!-->
                        <div class="para">

                            <!--Header content-->
                            <p>@LinkList.GetTitle(Link.Commissiebeheer)@LinkList.GetDescription(Link.Commissiebeheer)</p>

                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- end commission bar -->
        <!-- start welke-bar -->
        <div class="welke-bar">
            <div class="centering">
                <h3>Welke functionaliteiten biedt @LinkList.GetLinkName(Link.Commissiebeheer)?</h3>
                <h5>Beheer commissies per relatie </h5>
                <p>In een tabel leg je vast welke relatie welke commissie ontvangt. Kies meteen een begin en einddatum. Stel bijvoorbeeld in dat er voor twee jaar commissie wordt uitgekeerd. De provisie boek je meteen op de grootboekrekening. Van de uitgekeerde commissie maak je eenvoudig een inkoopstuk. Verder kun je in deze module per relatie aangeven hoeveel commissie er wordt uitgekeerd, of er sprake is van een bonus en/of een korting. Ook zorg je ervoor dat de commissie pas betaald wordt als de factuur is voldaan.  </p><br />

                <h5>Houd debiteuren- en crediteurenbeheer overzichtelijk </h5>
                <p>Zie in één oogopslag de status van facturen en onderneem direct actie als dat nodig is. Sorteer de facturen op de manier die jij zelf handig vindt. Dit kan bijvoorbeeld op klant, maar ook op vervaldatum of aantal herinneringen. Hoe vaak en hoe snel een klant een herinnering moet ontvangen, leg je zelf vast in het systeem. </p><br />

                <h5>Banktransacties inlezen</h5>
                <p>Lees de banktransacties in en koppel ze eenvoudig aan openstaande verkoopfacturen. Het is ook mogelijk om incassobatches aan te maken. Het inlezen van banktransacties is ook handig voor de verwerking van inkoopfacturen. Zo kun je afschrijvingen direct koppelen aan de grootboekrekening of gegevens van inkoopfacturen automatisch gebruiken voor betalingen en incasso's. </p><br />

                <h5>Stuur meerdere herinneringen tegelijk</h5>
                <p>Zie je dat er meerdere facturen te lang openstaan? Stuur alle betrokkenen tegelijk een herinnering. Dat scheelt je veel tijd. </p><br />

                <h5>Weet altijd alles over de financiële positie van je organisatie</h5>
                <p>Met aanvullend pakket Commissiebeheer weet je zeker dat jou geen financiële verrassingen te wachten staan. Je kunt altijd zien hoe je ervoor staat door de balans, winst- en verliesrekening te openen. Mochten er gegevens ontbreken, dan krijg je hier een melding over. Zo kun je dit zelf aanpassen. Door op de verschillende posten van de rekeningen te klikken, krijg je alle informatie tot in detail te zien. Dit kan duidelijkheid scheppen of fouten aan het licht brengen. Is het tijd om de administratie naar de belasting te brengen? Dan kan jouw boekhouder met een eigen inlogcode de rekeningen controleren. Correcties aanbrengen kan direct in de rekening als dat nodig is. Daarna exporteer je het bestand naar Excel. </p><br />
            </div>
        </div>
        <!-- ends welke-bar -->
        <!-- start connecting bar -->
        <article class="connecting-bar" style="margin:auto;">
            <article class="advantage-bar" style="margin:auto;">
                <div class="centering">
                    <!--End Item Content on the right-->
                    <!--Start Item Content on the Left-->
                    <div class="merge fourth" style="margin:initial;">
                        <div class="para facts">
                            <div class="module" style="width: auto; margin-top:35px;">
                                <h4>Factsheet</h4>
                                <p>
                                    Hieronder zijn alle mogelijkheden binnen de verschillende online modules weergegeven.Het kan voorkomen dat het beschreven functionaliteiten aanvullende modules nodig te hebben.Mocht u vragen hebben, neem dan contact met ons op.
                                </p>
                                <div class="para2">
                                    <h2>@LinkList.GetLinkName(Link.Commissiebeheer)</h2>
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Item Content on the Left-->
                </div>
            </article>
            @Content.ContactFormDemo()
        </article>
        <!-- end connecting bar -->
    </section>
    <!-- end center part -->
</section>
<!-- end content -->
