@using Hybrid_SaaS
@{
    Layout = "/Layouts/_Module.cshtml";
    Context.Items["Module"] = Link.Financieel;
}



<!-- start boxdetail bar -->
<article class="boxdetail-bar" style="margin: initial">
    <div class="centering">
        <aside class="ticket">
            <div class="common custom" style="padding:0px 0 57px; border-bottom:unset;">
                <h4>Welke modules zitten bij @LinkList.GetLinkName(Link.Financieel) inbegrepen:</h4>
                <div class="stand" style="padding-left:14%">
                    <ul>
                        <li><img src="@LinkList.GetImage(Link.Relatiebeheer)" title=" @LinkList.GetTitle(Link.Relatiebeheer) " /><a href=" @LinkList.GetLink(Link.Relatiebeheer) " title=" @LinkList.GetTitle(Link.Relatiebeheer) ">@LinkList.GetLinkName(Link.Relatiebeheer)</a></li>
                        <li><img src="@LinkList.GetImage(Link.Facturatie)" title=" @LinkList.GetTitle(Link.Facturatie) " /><a href="@LinkList.GetLink(Link.Facturatie)" title="@LinkList.GetTitle(Link.Facturatie)">@LinkList.GetLinkName(Link.Facturatie)</a></li>
                        <li><img src="@LinkList.GetImage(Link.Wachtwoordbeheer)" title=" @LinkList.GetTitle(Link.Wachtwoordbeheer) " /><a href="@LinkList.GetLink(Link.Wachtwoordbeheer)" title="@LinkList.GetTitle(Link.Wachtwoordbeheer)">@LinkList.GetLinkName(Link.Wachtwoordbeheer)</a></li>
                        <li><img src="@LinkList.GetImage(Link.Notities)" title=" @LinkList.GetTitle(Link.Notities) " /><a href="@LinkList.GetLink(Link.Notities)" title="@LinkList.GetTitle(Link.Notities)">@LinkList.GetLinkName(Link.Notities)</a></li>
                        <li><img src="@LinkList.GetImage(Link.Crm)" title=" @LinkList.GetTitle(Link.Crm) " /><a href="@LinkList.GetLink(Link.Crm)" title="@LinkList.GetTitle(Link.Crm)">@LinkList.GetLinkName(Link.Crm)</a></li>
                    </ul>

                    <ul style="padding-left:15.5%">
                        <li><img src="@LinkList.GetImage(Link.ExportExternPakket)" title=" @LinkList.GetTitle(Link.ExportExternPakket) " /><a href="@LinkList.GetLink(Link.ExportExternPakket)" title="@LinkList.GetTitle(Link.ExportExternPakket)">@LinkList.GetLinkName(Link.ExportExternPakket)</a></li>
                        <li><img src="@LinkList.GetImage(Link.ExportBoekhouding)" title=" @LinkList.GetTitle(Link.ExportBoekhouding) " /><a href="@LinkList.GetLink(Link.ExportBoekhouding)" title="@LinkList.GetTitle(Link.ExportBoekhouding)">@LinkList.GetLinkName(Link.ExportBoekhouding)</a></li>
                        <li><img src="@LinkList.GetImage(Link.ExportExcel)" title=" @LinkList.GetTitle(Link.ExportExcel) " /><a href="@LinkList.GetLink(Link.ExportExcel)" title="@LinkList.GetTitle(Link.ExportExcel)">@LinkList.GetLinkName(Link.ExportExcel)</a></li>
                    </ul>

                    <ul style="padding-left:7.5%">
                        <li><img src="@LinkList.GetImage(Link.Extranet)" title=" @LinkList.GetTitle(Link.Extranet) " /><a href=" @LinkList.GetLink(Link.Extranet) " title=" @LinkList.GetTitle(Link.Extranet) ">@LinkList.GetLinkName(Link.Extranet)</a></li>
                        <li><img src="@LinkList.GetImage(Link.OutlookAddIn)" title=" @LinkList.GetTitle(Link.OutlookAddIn) " /><a href="@LinkList.GetLink(Link.OutlookAddIn)" title="@LinkList.GetTitle(Link.OutlookAddDownload)">@LinkList.GetLinkName(Link.OutlookAddIn)</a></li>
                        <li><img src="@LinkList.GetImage(Link.GebruikerIntern)" title=" @LinkList.GetTitle(Link.GebruikerIntern) " /><a href="@LinkList.GetLink(Link.GebruikerIntern)" title="@LinkList.GetTitle(Link.GebruikerIntern)">@LinkList.GetLinkName(Link.GebruikerIntern)</a></li>
                        <li><img src="@LinkList.GetImage(Link.Dataopslag)" title=" @LinkList.GetTitle(Link.Dataopslag) " /><a href="@LinkList.GetLink(Link.Dataopslag)" title="@LinkList.GetTitle(Link.Dataopslag)">@LinkList.GetLinkName(Link.Dataopslag)</a></li>
                    </ul>
                    <cite>@LinkList.GetPrice(Link.Financieel)</cite>
                </div>
            </div>
        </aside>
    </div>
</article>
<!-- end boxdetail bar -->