@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}

<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <!-- start commission bar -->
        <article class="commission-bar">
            <div class="centering">
                <div class="management">
                    <div class="merge">
                        <table>
                            <tr>
                                <td><img alt="" src="@LinkList.GetImages(Link.OffertesOrders)"></td>
                            </tr>
                            <tr>
                                <td><h4>@LinkList.GetLinkName(Link.OffertesOrders)</h4></td>
                            </tr>
                        </table>
                        <!--Header!-->
                        <div class="para">

                            <!--Header content-->
                            <p>@LinkList.GetTitle(Link.OffertesOrders)@LinkList.GetDescription(Link.OffertesOrders)</p>

                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- end commission bar -->
        <!-- start advantage bar -->
        <article class="advantage-bar">
            <div class="centering">
                <h3>Wat heeft de module @LinkList.GetLinkName(Link.OffertesOrders) te bieden?</h3>
                <!--Start Item Content on the right-->
                <div class="merge">
                    <div class="image"><img src="/images/foto_img.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Offertes en orders</h4>
                        <p>Offertes en orders</p>
                    </div>
                </div>
                <!--End Item Content on the right-->
                <!--Start Item Content on the Left-->
                <div class="merge second">
                    <div class="image"><img src="/images/foto_img1.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Offertes en orders</h4>
                        <p>Offertes en orders</p>

                    </div>
                </div>
                <!--End Item Content on the Left-->
            </div>
        </article>
        <!-- end advantage bar -->
        <!-- start connecting bar -->
        <article class="connecting-bar" style="margin:auto;">
            <article class="advantage-bar" style="margin:auto;">
                <div class="centering">
                    <!--End Item Content on the right-->
                    <!--Start Item Content on the Left-->
                    <div class="merge fourth" style="margin:initial;">
                        <div class="para facts">
                            <div class="module" style="width: auto; margin-top:35px;">
                                <h4>Factsheet</h4>
                                <p>
                                    Hieronder zijn alle mogelijkheden binnen de verschillende online modules weergegeven.Het kan voorkomen dat het beschreven functionaliteiten aanvullende modules nodig te hebben.Mocht u vragen hebben, neem dan contact met ons op.
                                </p>
                                <div class="para2">
                                    <h2>@LinkList.GetLinkName(Link.OffertesOrders)</h2>
                                    <ul>
                                        <li>
                                            Notities aanmaken op bedrijven
                                        </li>
                                        <li>
                                            Offertes en orders opstellen
                                        </li>
                                        <li>
                                            Offertes en orders opstellen voor een Bedrijf
                                        </li>
                                        <li>
                                            Offertes en orders opstellen voor een Persoon
                                        </li>
                                        <li>
                                            Offertes en orders koppelen aan een project
                                        </li>
                                        <li>
                                            Diverse offerte- en ordergegevens vastleggen
                                        </li>
                                        <li>
                                            Offerte en orderregels aanmaken uit een productendatabase
                                        </li>
                                        <li>
                                            Scanfunctie om snel offerte- en orderregels toe te voegen
                                        </li>
                                        <li>
                                            Offerte omzetten in order
                                        </li>
                                        <li>
                                            Offerte en orders omzetten in een factuur
                                        </li>
                                        <li>
                                            Offerte en orders omzetten in proformafactuur
                                        </li>
                                        <li>
                                            Offerte en orders omzetten in een contract
                                        </li>
                                        <li>
                                            Offertes en orders digitaal versturen via e-mail
                                        </li>
                                        <li>
                                            Offertes en orders uitprinten
                                        </li>
                                        <li>
                                            Offertes en orders opmaken in Microsoft Word
                                        </li>
                                        <li>
                                            Diverse offerte en ordersjablonen aanmaken
                                        </li>
                                        <li>
                                            Offertes en orders dupliceren
                                        </li>
                                        <li>
                                            Afwijkend factuur- en afleveradres vastleggen
                                        </li>
                                        <li>
                                            Diverse order statussen ingeven en vastleggen
                                        </li>
                                        <li>
                                            Diverse geautomatiseerde offerte statussen
                                        </li>
                                        <li>
                                            Diverse geautomatiseerde bestelling statussen
                                        </li>
                                        <li>
                                            Diverse geautomatiseerde productie statussen
                                        </li>
                                        <li>
                                            Diverse geautomatiseerde uitvoering statussen
                                        </li>
                                        <li>
                                            Diverse geautomatiseerde webshop statussen
                                        </li>
                                        <li>
                                            Diverse data vastleggen (offerte-, order-, leveringsdatum e.d.)
                                        </li>
                                        <li>
                                            Offerte- en orderkorting vastleggen
                                        </li>
                                        <li>
                                            Offerte- en orderkorting vastleggen per regel
                                        </li>
                                        <li>
                                            Verzendmethode vastleggen
                                        </li>
                                        <li>
                                            Vrije teksten invoeren bij een offerte of order
                                        </li>
                                        <li>
                                            Offerte en order historie inzien
                                        </li>
                                        <li>
                                            Offerte en ordermarges weergeven ten opzichte van inkoopprijs
                                        </li>
                                        <li>
                                            Overzichten exporten naar Microsoft Excel
                                        </li>
                                        <li>
                                            Opvolgingsdata invoeren
                                        </li>
                                        <li>
                                            Commissieregels vastleggen
                                        </li>
                                        <li>
                                            Opmerkingen en notities vastleggen
                                        </li>
                                        <li>
                                            Ticket aanmaken op een offerte of order
                                        </li>
                                        <li>
                                            Online bestanden opslaan bij offertes en orders
                                        </li>
                                        <li>
                                            Lokaal bestanden opslaan bij offertes en orders
                                        </li>
                                        <li>
                                            Digitale kopie van getekende offertes en orders opslaan
                                        </li>
                                        <li>
                                            Betalingsinformatie inzien
                                        </li>
                                        <li>
                                            Actiehistorie inzien
                                        </li>
                                        <li>Diverse offerte- en orderschema’s vastleggen</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Item Content on the Left-->
                </div>
            </article>
            <div class="centering">
                <div class="merge">
                    <div class="module">
                        <h4 style="margin-top:35px;">Nieuwsgierig geworden wat wij nog meer voor jou kunnen betekenen?<br>Vraag onze vrijblijvende Live Demo aan!</h4>
                        <div class="image"><img src="/images/connecting_img.JPG" alt="" style="width:760px; margin-top:35px" /></div>
                    </div>
                    @Content.ContactFormDemo()
                </div>
            </div>
        </article>
        <!-- end connecting bar -->
    </section>
    <!-- end center part -->
</section>
<!-- end content -->
