@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}
<!-- start content -->
<section id="content-part">

	<!-- start centerpart -->
	<section id="center-part">

		<!-- start commission bar -->
        <article class="commission-bar">
                    	
                <div class="management">
				<div class="merge">
                    <div class="left">
                        <h4>Opslag</h4>
                        <div class="para semi">
                            <p>Opslag</p>
                        </div>
                        <div class="para">
                            <p>Opslag</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="para">
                            <p></p>
                        </div>
                        <div class="outlook">
                        <!--<ul>
                            <li><a href=""><img src="/images/outlook_img6.png" alt="" /></a></li>
                            <li><a href="#"><img src="/images/outlook_img7.png" alt="" /></a></li>
                            <li><a href="#"><img src="/images/outlook_img8.png" alt="" /></a></li>
                            <li><a href="#"><img src="/images/outlook_img1.png" alt="" /></a></li>
                            <li><a href="#"><img src="/images/outlook_img2.png" alt="" /></a></li>
                            <li><a href="#"><img src="/images/outlook_img3.png" alt="" /></a></li>
                            <li><a href="#"><img src="/images/outlook_img4.png" alt="" /></a></li>
                            <li><a href="#"><img src="/images/outlook_img5.png" alt="" /></a></li>
                        </ul>-->
                    </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- end commission bar -->

		<!-- start advantage bar -->
        <article class="advantage-bar">
                	
            <div class="centering">
                <h3>Wat heeft de module Opslag te bieden?</h3>
                <!--Start Item Content on the right-->
				<div class="merge">
                    <div class="image"><img src="/images/foto_img.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Opslag</h4>
                        <p>Opslag</p>
                    </div>
                </div>
                <!--End Item Content on the right-->
                <!--Start Item Content on the Left-->
                <div class="merge second">
                    <div class="image"><img src="/images/foto_img1.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Opslag</h4>
                        <p>Opslag</p>

                    </div>
                </div>
                <!--End Item Content on the Left-->
            </div>
        </article>
        <!-- end advantage bar -->

		<!-- start connecting bar -->
        <article class="connecting-bar">
            <div class="merge">
                    <div class="left">
                        <div class="para semi">
                            <p>Factsheets</p>
                        </div>
                        <div class="para">
                            <ul>
                                <li>° <li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <div class="para semi">
                            <p>Wat zit er standaard inbegrepen bij Opslag? </p>
                        </div>
                        <div class="para">
                            <ul>
                                <li>° </li>
                                <li>° </li>
                                <li>° </li>
                                <li>° </li>
                            </ul>
                            <p>Nieuwsgierig geworden wat wij nog meer voor jou kunnen betekenen? Vraag onze vrijblijvende Live Demo aan</p>
                        </div>
                    </div>
                </div>
                <div class="centering">
                <div class="image"><img src="/images/connecting_img.JPG" alt="" /></div>
				<div class="merge">
                    <div class="module">
                        <h3>Aanvullende modules en pakketten</h3>
                        <p>Mis je nog iets? Breid je pakket eenvoudig uit met de volgende modules en pakketten</p>
                        <p>Benieuwd naar de prijzen? <a style="font-size:17px; line-height:24px; color:#777;" href="@LinkList.GetLink(Link.prijzenlijst)">Download</a> prijslijst</p>
                        <div class="pakket">
                            <h4>Aanvullend pakket (maandelijks)</h4>
                            <ul>
                                <li>
                                    <img src="/images/connencting_img1.png" alt="" />
                                    <h5>Webshop</h5>
                                    <a href="@LinkList.GetLink(Link.Webshop)">Meer info</a>
                                </li>
                                <li>
                                    <img src="/images/connencting_img2.png" alt="" />
                                    <h5>Commissie</h5>
                                    <a href="@LinkList.GetLink(Link.Commisie)">Meer info</a>
                                </li>
                                <li>
                                    <img src="/images/connencting_img3.png" alt="" />
                                    <h5>FINANCIEEL</h5>
                                    <a href="@LinkList.GetLink(Link.Financieel)">Meer info</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    @Content.ContactFormDemo()
                </div>
            </div>
           
        </article>
        <!-- end connecting bar -->

	</section>
	<!-- end center part -->
			
</section>
<!-- end content -->
		