@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}

<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <!-- start commission bar -->
        <article class="commission-bar">
            <div class="centering">
                <div class="management">
                    <div class="merge">
                        <table>
                            <tr>
                                <td><img alt="" src="@LinkList.GetImages(Link.TicketSysteem)"></td>
                            </tr>
                            <tr>
                                <td><h4>@LinkList.GetLinkName(Link.TicketSysteem)</h4></td>
                            </tr>
                        </table>
                        <!--Header!-->
                        <div class="para">

                            <!--Header content-->
                            <p>@LinkList.GetTitle(Link.TicketSysteem)@LinkList.GetDescription(Link.TicketSysteem)</p>

                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- end commission bar -->
        <!-- start advantage bar -->
        <article class="advantage-bar">
            <div class="centering">
                <h3>Wat heeft de module @LinkList.GetLinkName(Link.TicketSysteem) te bieden?</h3>
                <!--Start Item Content on the right-->
                <div class="merge">
                    <div class="image"><img src="/images/foto_img.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Ticketsysteem</h4>
                        <p>Ticketsysteem</p>
                    </div>
                </div>
                <!--End Item Content on the right-->
                <!--Start Item Content on the Left-->
                <div class="merge second">
                    <div class="image"><img src="/images/foto_img1.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Ticketsysteem</h4>
                        <p>Ticketsysteem</p>

                    </div>
                </div>
                <!--End Item Content on the Left-->
            </div>
        </article>
        <!-- end advantage bar -->
        <!-- start connecting bar -->
        <article class="connecting-bar" style="margin:auto;">
            <article class="advantage-bar" style="margin:auto;">
                <div class="centering">
                    <!--End Item Content on the right-->
                    <!--Start Item Content on the Left-->
                    <div class="merge fourth" style="margin:initial;">
                        <div class="para facts">
                            <div class="module" style="width: auto; margin-top:35px;">
                                <h4>Factsheet</h4>
                                <p>
                                    Hieronder zijn alle mogelijkheden binnen de verschillende online modules weergegeven.Het kan voorkomen dat het beschreven functionaliteiten aanvullende modules nodig te hebben.Mocht u vragen hebben, neem dan contact met ons op.
                                </p>
                                <div class="para2">
                                    <h2>@LinkList.GetLinkName(Link.TicketSysteem)</h2>
                                    <ul>
                                        <li>
                                            Tickets aanmaken via Extranet anoniem
                                        </li>
                                        <li>
                                            Tickets aanmaken via Extranet met logingegevens
                                        </li>
                                        <li>
                                            Tickets koppelen aan bedrijven, personen, projecten en werklocaties
                                        </li>
                                        <li>
                                            Ticketstatus aanmaken
                                        </li>
                                        <li>
                                            Tickets categoriseren
                                        </li>
                                        <li>
                                            Tickets toewijzen aan afdelingen en medewerkers
                                        </li>
                                        <li>
                                            Opmerkingen toevoegen aan tickets
                                        </li>
                                        <li>
                                            Tickets uitstellen en parkeren
                                        </li>
                                        <li>
                                            Vervolgtickets aanmaken
                                        </li>
                                        <li>
                                            Log en tickethistorie bijhouden
                                        </li>
                                        <li>
                                            Statusupdates versturen naar betrokkenen
                                        </li>
                                        <li>
                                            Digitale bijlagen opslaan bij tickets
                                        </li>
                                        <li>
                                            Online bestanden toevoegen aan tickets
                                        </li>
                                        <li>
                                            Milestones toekennen aan tickets
                                        </li>
                                        <li>
                                            Prognose start- en eindtijd ingeven
                                        </li>
                                        <li>
                                            Daadwerkelijke start- en eindtijd ingeven
                                        </li>
                                        <li>
                                            Tijd registreren op tickets
                                        </li>
                                        <li>
                                            Documenten opmaken op een ticket
                                        </li>
                                        <li>
                                            Overzicht van tickets op verschillende dagen
                                        </li>
                                        <li>
                                            Overzicht tickets per afdeling of gebruiker
                                        </li>
                                        <li>
                                            Overzicht exporten naar Microsoft Excel
                                        </li>
                                        <li>
                                            Ticketdocument digitaal versturen
                                        </li>
                                        <li>Ticketdocument uitprinten</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Item Content on the Left-->
                </div>
            </article>
            @Content.ContactFormDemo()
        </article>
        <!-- end connecting bar -->
    </section>
    <!-- end center part -->
</section>
<!-- end content -->
