@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}

<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <!-- start commission bar -->
        <article class="commission-bar">
            <div class="centering">
                <div class="management">
                    <div class="merge">
                        <table>
                            <tr>
                                <td><img alt="" src="@LinkList.GetImages(Link.Tijdregistratie)"></td>
                            </tr>
                            <tr>
                                <td><h4>@LinkList.GetLinkName(Link.Tijdregistratie)</h4></td>
                            </tr>
                        </table>
                        <!--Header!-->
                        <div class="para">

                            <!--Header content-->
                            <p>@LinkList.GetTitle(Link.Tijdregistratie)@LinkList.GetDescription(Link.Tijdregistratie)</p>

                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- end commission bar -->
        <!-- start advantage bar -->
        <article class="advantage-bar">
            <div class="centering">
                <h3>Wat heeft de module @LinkList.GetLinkName(Link.Tijdregistratie) te bieden?</h3>
                <!--Start Item Content on the right-->
                <div class="merge">
                    <div class="image"><img src="/images/foto_img.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Tijdregistratie</h4>
                        <p>Tijdregistratie</p>
                    </div>
                </div>
                <!--End Item Content on the right-->
                <!--Start Item Content on the Left-->
                <div class="merge second">
                    <div class="image"><img alt="" src="@LinkList.GetBigImages(Link.Handleiding)"></div>
                    <div class="para">
                        <h4>@LinkList.GetLinkName(Link.Handleiding)</h4>
                        <p><a style="font-size:17px;" href="http://hybridsaas.support/pages/handleiding/uitleg/mandagenstaat/verwerking-verschillende-overuren">Verwerking verschillende overuren</a></p>

                    </div>
                </div>
                <!--End Item Content on the Left-->
            </div>
        </article>
        <!-- end advantage bar -->
        <!-- start connecting bar -->
        <article class="connecting-bar" style="margin:auto;">
            <article class="advantage-bar" style="margin:auto;">
                <div class="centering">
                    <!--End Item Content on the right-->
                    <!--Start Item Content on the Left-->
                    <div class="merge fourth" style="margin:initial;">
                        <div class="para facts">
                            <div class="module" style="width: auto; margin-top:35px;">
                                <h4>Factsheet</h4>
                                <p>
                                    Hieronder zijn alle mogelijkheden binnen de verschillende online modules weergegeven.Het kan voorkomen dat het beschreven functionaliteiten aanvullende modules nodig te hebben.Mocht u vragen hebben, neem dan contact met ons op.
                                </p>
                                <div class="para2">
                                    <h2>@LinkList.GetLinkName(Link.Tijdregistratie)</h2>
                                    <ul>
                                        <li>Tijd registreren op projecten (bedrijven en personen)</li>
                                        <li>Begin-, eindtijd en pauzes registreren</li>
                                        <li>Omschrijving en interne opmerking ingeven</li>
                                        <li>Notities aanmaken op tijdregistraties</li>
                                        <li>(om)kosten registreren</li>
                                        <li>(om)kosten registreren uit de producten database</li>
                                        <li>Tijdregistraties beoordelen door diverse afdelingen</li>
                                        <li>Bewijsregistratie bijvoegen</li>
                                        <li>Digitale bestanden toevoegen</li>
                                        <li>Tijd registreren via extranet en mobiel apparaat</li>
                                        <li>Tijd registreren via agenda items Microsoft Outlook</li>
                                        <li>Diverse tijdregistratie statussen in diverse processen</li>
                                        <li>Overzichten exporten naar Microsoft Excel</li>
                                        <li>Inkoopstuk derden aanmaken op basis van tijdregistraties</li>
                                        <li>Tijdregistraties factureren (per tijdvak, medewerker project, opdrachtgever)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Item Content on the Left-->
                </div>
            </article>
            @Content.ContactFormDemo()
        </article>
        <!-- end connecting bar -->
    </section>
    <!-- end center part -->
</section>
<!-- end content -->
