@using Hybrid_SaaS

@{
    if (IsPost)
    {
        var companyname = Request.Form["name"];
        var contactname = Request.Form["email"];
        var employeecount = Request.Form["bericht"];

        //check thingie
        SendMail.SendEmail(companyname, contactname, employeecount);
    }
}
<!DOCTYPE html>
<html>

<head>

    <title>Hybrid SaaS | Online Business Software</title>


    <meta charset="UTF-8" />

    <!-- Mobile Specific Metas ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--[if IE]>
    <script src="/http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/css/layout.css" type="text/css" />

    <script type="text/javascript" src="/js/respond.src.js"></script>

</head>

<body>

    <!-- start template -->
    <section id="template">

        <!-- start layout -->
        <section id="layout">

            <!-- start header -->
            <header id="header-part">
                <div class="centering">

                    <div class="logo"><a href="@LinkList.GetLink(Link.Home)"><img alt="Hybrid SaaS" src="/images/logo.png" /></a></div>
                    <a class="menu"><span></span><span></span><span></span></a>
                    <!-- start nav -->
                    <nav class="nav-bar">
                        <div class="leftmenu">
                            <ul class="dropdown">
                                <li>@Links.Write( Link.Home )</li>
                                <li>@Links.Write( Link.Pakketten )</li>
                                <li>@Links.Write( Link.Modules )</li>
                            </ul>
                        </div>
                        <div class="rightmenu">
                            <ul>
                                <li>@Links.Write( Link.Over )</li>
                                <li>@Links.Write( Link.Support )</li>
                                <li>@Links.Write( Link.Contact )</li>
                            </ul>
                        </div>
                    </nav>
                    <!-- end nav -->

                </div>
            </header>
            <!-- end header -->

            @RenderBody()

            <!-- start footer -->
            <footer id="footer-part">

                <!-- start footer bar -->
                <article class="footer-bar">
                    <div class="centering">

                        <aside class="about">
                            <a href="@LinkList.GetLink(Link.Over)" class="footlogo"><img src="/images/footer_logo.png" alt="" /></a>
                            <p>Hybrid SaaS is sinds 2006 gespecialiseerd in systeembeheer en software ontwikkeling. Hybrid SaaS heeft een grote en zeer diverse relatiekring in tal van bedrijfsbranches. Ondanks dat elke organisatie verschilt en een unieke aanpak vereist, zijn veel basis processen praktisch hetzelfde. Het is daarom niet verwonderlijk dat vraagstukken over het optimaliseren van deze basisprocessen veel gelijkenissen vertonen.</p>
                        </aside>

                        <aside class="common contact">
                            <h3>Contact info</h3>
                            <address>
                                Hybrid SaaS | Online Business Software <br /> Postbus 31 | 2870 AA Schoonhoven <br /> +3185 002 1940 <br /> <a href="mailto:support@hybridsaas.com">support@hybridsaas.com</a> <br /> Hybrid SaaS ICT BV <br /> KvK Rotterdam 54528283
                            </address>
                        </aside>

                        <aside class="common link">
                            <h3>Quick Links</h3>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.Support)">Support</a></li>
                                <li><a href="@LinkList.GetLink(Link.Over)">Over</a></li>
                                <li><a href="@LinkList.GetLink(Link.Youtube)" target="_blank">YouTube</a></li>
                                <li><a href="@LinkList.GetLink(Link.SiteMap)">Sitemap</a></li>
                                <li><a href="@LinkList.GetLink(Link.Contact)">Contact</a></li>
                            </ul>
                        </aside>

                        <aside class="common news">
                            <!--<h3>Nieuwsbrief</h3>
                            <p></p>
                            <form action="#">
                                <input type="text" value="E-mail" onFocus="if(this.value=='E-mail')this.value='';" onBlur="if(this.value=='')this.value='E-mail';" />
                                <input type="submit" value="Ok">
                            </form>-->
                        </aside>

                        <div class="clear"></div>

                        <aside class="copy">
                            <span>Copyright 2015 Hybrid SaaS. All Rights Reserved.</span>
                            <ul>
                                <li><a href="@LinkList.GetLink(Link.AlgemeneVoorwaarden)">Algemene voorwaarden</a></li>
                                <!--<li><a href="@LinkList.GetLink(Link.Factsheet)">Factsheet</a></li>-->
                                <li><a href="@LinkList.GetLink(Link.ReleaseNotes)">Release notes</a></li>
                            </ul>
                        </aside>

                    </div>
                </article>
                <!-- end footer bar -->

            </footer>
            <!-- end footer -->

        </section>
        <!-- end layout -->

    </section>
    <!-- end template -->


    <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/js/respond.src.js"></script>
    <script type="text/javascript" src="/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>

</body>

</html>